a, a:hover, a:active, a:visited{
    text-decoration: none;
    outline: none;
    color: #000;
    transition: 0.2s all linear
}
.foot-nav>li>a:focus, .foot-nav>li>a:hover{
    background-color: transparent;
    color: inherit
}
.nav li:hover>a{
    color: #FF4000 !important;
}
button, .btn{
    transition: 0.2s all linear
}
.text-strong{
    font-weight: 700;
}
.mg-l-5{
    margin-left: 5px;
}
.mg-l-10{
    margin-left: 10px;
}
.mg-r-10{
    margin-right: 10px;
}
.mg-tp-100{
    margin-top: 100px
}
.pd-b-t-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pd-5{
    padding: 5px;
}
.no-pd-r{
    padding-right: 0
}
.no-mg-bt{
    margin-bottom: 0
}
.no-margin{
    margin-left: 0;
    margin-right: 0;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
select.form-control {
    padding: 6px 9px;
}
.panel-heading.accordion-toggle:after {/* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';/* essential for enabling glyphicon */
    content: "\e259";/* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: 23px;
    font-size: 15pt;/* adjust as needed */
    color: #FFF;/* adjust as needed */
}
.panel-heading.accordion-toggle.collapsed:after {/* symbol for "collapsed" panels */
    content: "\e260";/* adjust as needed, taken from bootstrap.css */
}
.panel-heading:hover {
    cursor: pointer;
}
.panel-heading:hover h4 {
    text-decoration: underline;
}
.collapsing{
    width: 100%;
    top: -13px
}

::-webkit-input-placeholder {
    color: #333333 !important;
    opacity: 1 !important
}

:-moz-placeholder {
    color: #333333 !important;
    opacity: 1 !important
}

::-moz-placeholder {
    color: #333333 !important;
    opacity: 1 !important
}

:-ms-input-placeholder {
    color: #333333 !important;
    opacity: 1 !important
}
.img-responsive{
    margin: auto
}
