 @media only screen and (min-width: 320px) {
     .xs-center {
         text-align: center
     }
     .top-bar {
         height: auto;
     }
     .used-description {
         padding-left: 30px;
         padding-right: 30px;
     }
     .navbar-default .navbar-nav>li>a {
         float: left;
         width: 90%;
         font-weight: 700;
     }
     .navbar-default .navbar-nav>li>a.dropdown-caret {
         float: left;
         width: 10%
     }
     .sub-nav {
         font-weight: 700;
     }
     #btnEnviar {
         width: 100%;
         margin-top: 10px;
     }
 }

 @media only screen and (min-width: 480px) {
     .navbar-header {
         margin: auto;
         width: 256px;
         float: none;
     }
 }

 @media only screen and (min-width: 768px) {
     .pull-to-banner {
         margin-top: 0
     }
     .menu-footer li a {
         padding: 30px 10px
     }
     .menu-footer li a,
     .navbar-default .navbar-nav>li>a {
         font-size: 14px;
         margin-bottom: 6px;
     }
     .main-menu {
         height: auto;
     }
     ul.dropdown-menu {
         top: 90%
     }
     .brd-left-2 {
         border-left: none;
     }
     .no-gutter {
         padding-left: 0;
         padding-right: 0;
     }
     .main-nav,
     .foot-nav {
         float: left;
         font-size: 17px;
         font-weight: 700
     }
     .dropdown-li {
         display: inline-block !important;
     }
     .dropdown-link {
         display: inline-block !important;
         padding-right: 4px !important;
     }
     .dropdown-caret {
         display: inline-block !important;
         padding-left: 4px !important;
     }
     .sub-nav {
         font-size: 12px;
         float: right;
         margin: 0;
     }
     .navbar-default .sub-nav>li>a {
         padding: 19px 0px;
         line-height: 12px;
         font-size: 12px;
     }
     .navbar-default .navbar-nav>li>a.dropdown-caret,
     .navbar-default .navbar-nav>li>a {
         width: auto
     }
 }

 @media only screen and (min-width: 992px) {
     .navbar-header {
         float: left;
         width: auto
     }
     .menu-footer li a,
     .navbar-default .navbar-nav>li>a {
         margin-bottom: 0;
     }
     .main-menu {
         height: 50px;
     }
     .top-bar button {
         font-size: 11px;
         margin-left: 15px;
         padding: 4px 9px;
         margin-top: 3px;
     }
     .navbar-default .navbar-nav>li>a {
         font-size: 14px;
         padding: 18px 4px;
     }
     .navbar-brand {
         margin-top: -13px;
     }
     .navbar-default .sub-nav>li>a {
         font-size: 12px
     }
     .top-bar p.text-uppercase {
         font-size: 12px
     }
     .content .container>div {
         padding-top: 70px
     }
     .pull-to-banner {
         margin-bottom: -70px;
         margin-top: -590px;
     }
     .menu-footer li a {
         padding: 30px 15px
     }
 }

 @media only screen and (min-width: 1200px) {
     .top-bar button {
         font-size: 15px;
     }
     .ventas {
         padding-right: 20px;
     }
     .navbar-brand {
         margin-top: -26px;
     }
     .navbar-default .navbar-nav.sub-nav>li>a {
         font-size: 12px
     }
     .pull-to-banner {
         margin-bottom: 0;
     }
     .navbar-default .navbar-nav>li>a {
         font-size: 17px
     }
     .brd-left-2 {
         border-left: 2px solid #cbcaca;
     }
     .used-description {
         padding-left: 0;
         padding-right: 0
     }
     #btnEnviar{
         margin-top: 0
     }
 }

 @media only screen and (max-width: 598px) {
     .used-buttons .btn {
         display: block;
         float: none;
         margin-bottom: 10px;
         width: 100%;
         height: auto;
         white-space: normal;
     }
     .nav-pills>li {
         float: none;
         text-align: center
     }
 }
