* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #EDEBEC;
}


/*----------------------------- HOME - START  -------------------------------*/

.navbar-toggle {
    float: none;
    right: -60%
}

.main-menu {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 1%, #c5c5c5 100%);
    background: -webkit-linear-gradient(top, #f0f0f0 1%, #c5c5c5 100%);
    background: linear-gradient(to bottom, #f0f0f0 1%, #c5c5c5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c5c5c5', GradientType=0);
}

.navbar-brand {
    padding: 0;
    height: auto;
    z-index: 2;
    border: none;
}

.navbar-brand>img {
    z-index: 4;
    position: relative;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {}

.main-menu .navbar-default {
    background: none;
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
    padding: 12px 3px;
    line-height: 14px;
    position: relative;
    z-index: 3;
}

.navbar-default .navbar-nav>li>a.dropdown-caret {
    float: left;
    cursor: pointer;
}

.highlight {
    margin-bottom: 25px;
}

.highlight:hover {
    background: #F0F0F0
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
li.dropdown.dropdown-li .dropdown-menu a:hover {
    color: #ff4000;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #E8E8E8
}

.dropdown:hover {
    color: #FF4000
}

.navbar-nav>li>a:hover {
    background: #E8E8E8
}

.open>a {
    color: #FF4000 !important
}

.main-nav .open .dropdown-menu li a:hover {
    color: #FF4000 !important;
}

li.dropdown.dropdown-li:hover .dropdown-menu a {
    color: #777;
}

.top-bar {
    background-color: #FFF;
    position: relative;
    z-index: 3;
    padding: 5px 0
}

.top-bar p {
    float: left;
    margin-bottom: 0;
    padding: 7px 0;
}

.top-bar a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0;
}

.top-bar button {
    margin-left: 15px;
    padding: 4px 9px;
}

.top-bar a:hover,
.top-bar a:active {
    text-decoration: none
}

.btn-primary {
    background: #1f8cc9;
    background: -moz-linear-gradient(top, #1f8cc9 0%, #016eab 100%);
    background: -webkit-linear-gradient(top, #1f8cc9 0%, #016eab 100%);
    background: linear-gradient(to bottom, #1f8cc9 0%, #016eab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1f8cc9', endColorstr='#016eab', GradientType=0);
    font-weight: 700;
}

.btn-primary:focus,
.btn-primary:hover {
    background: #016eab;
    background: -moz-linear-gradient(top, #016eab 0%, #1f8cc9 100%);
    background: -webkit-linear-gradient(top, #016eab 0%, #1f8cc9 100%);
    background: linear-gradient(to bottom, #016eab 0%, #1f8cc9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#016eab', endColorstr='#1f8cc9', GradientType=0);
}

a.phone-number {
    color: #007ac1;
    font-size: 18px;
    font-weight: 700;
}

#homeCarousel .carousel-indicators {
    text-align: left;
    position: inherit;
    margin: 0;
    position: relative;
    left: 0;
    z-index: 4 !important
}

#homeCarousel .carousel-indicators li {
    border: 2px solid transparent;
    background: #000;
    width: 6px;
    height: 6px;
    margin: 1px 5px
}

#homeCarousel .carousel-indicators .active {
    width: 8px;
    height: 8px;
    border-color: #067cbc;
    background: none;
    margin: 0 5px
}

#homeCarousel .item {
    height: 570px;
}

#homeCarousel .item img {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.panel-group {
    border-radius: 7px;
    background-color: #414e57;
}

.panel {
    border: none;
    background: none;
}

.panel-group .panel {
    border-radius: 0
}

.panel-default>.panel-heading {
    background: none;
    padding: 25px 25px 15px 25px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-default {
    border-top-color: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-default>.panel-heading+.panel-collapsing>.panel-body {
    padding: 15px 25px 0 25px;
}

.panel-group .panel+.panel {
    margin-top: 0
}

.panel-default>.panel-heading .panel-title {
    color: #ffffff;
    font-size: 21px;
    font-weight: 900;
}

.panel-title a {
    text-decoration: none
}

.panel-title a i {
    font-weight: 300;
}

.pull-to-banner {
    padding-right: 0;
    padding-left: 0;
}

.form-control {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase
}

input[type=submit].form-control {
    width: 100%;
    background-color: #ff4000;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    height: auto;
    padding: 15px 0;
    transition: 0.2s all linear
}

input[type=submit].form-control:hover {
    background-color: #FFF;
    color: #FF4000
}

.panel-group hr {
    width: 80%;
    border-top: 1px dashed #999;
    margin: 0 auto;
}

.slick-slider {
    margin-top: 30px;
}

.slick-disabled {
    display: none !important
}

.slider-for .slick-slide img {
    width: 100%
}

.slider-nav .slick-slide img {
    width: 90%;
    padding: 6% 2% 0 10%;
}
.slider-nav .slick-center img {
    width: 100%;
    padding: 0 !important;
}

.used-car-slider .slick-slide img{
	width: 100% !important
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.slick-slide span {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #2b3339;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.2s all linear
}

.slick-slide:hover span {
    color: #ff4000
}

.slick-prev:before,
.slick-next:before {
    color: #007dc6;
    font-size: 32px
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev,
.slick-next {
    width: 32px;
    top: 0;
    height: 100%;
    background: #EDEBEC !important;
    z-index: 1;
}

.slick-list {
    margin-left: 32px;
    margin-right: 32px;
}

h2 {
    font-weight: 900;
    font-size: 28px;
}

.used-car-highlight {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.used-car-highlight h3 {
    color: #017ac0;
    font-weight: 900;
    margin-top: 10px;
}

.oldPrice,
.Price,
.savedPrice {
    padding-left: 0;
    padding-right: 0;
    float: left;
    text-align: center;
    line-height: 20px;
}

.oldPrice small,
.Price small,
.savedPrice small {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase
}

.oldPrice big {
    font-size: 19px;
    font-weight: 900;
}

.Price big {
    font-size: 26px;
    font-weight: 900;
}

.savedPrice big {
    font-size: 16px;
    font-weight: 900;
}

.oldPrice {
    color: #777777;
    width: 26%;
}

.Price {
    width: 36%;
    color: #0079bf;
}

.savedPrice {
    color: #ff4000;
    width: 20%;
}

.oldPrice,
.Price {
    margin-right: 5%;
}

.used-buttons {
    background-color: #cbcac9;
    padding-left: 0;
    padding-right: 0;
    padding: 10px;
}

.used-buttons .btn {
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 7px;
}

.used-buttons .btn:last-child {
    margin-right: 0
}

.btn-more-info {
    background-color: #007cc2;
    width: 131px;
}

.btn-send-mobile {
    background-color: #2b3339;
    width: 155px;
}

.btn-send-mobile:hover {
    background-color: #FFF;
    color: #2b3339;
}

.btn-request-special-price {
    background-color: #ff4000;
    width: 225px;
}

.btn-request-special-price:hover {
    background-color: #FFF;
    color: #FF4000
}

.highlight h3 {
    font-size: 24px;
    font-weight: 900;
    color: #2b3339;
    height: 90px;
    display: table-cell;
    vertical-align: middle;
}

.highlight a {
    font-weight: 700;
    color: #ff3f00;
    font-size: 12px;
    text-transform: uppercase;
    display: block
}

.highlight p {
    font-size: 12px;
    min-height: 80px
}

.high-img {
    height: 70px;
    position: relative
}

.high-img img {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.menu-footer {
    margin-top: 50px;
    background-color: #cbcaca;
}

.menu-footer li ul {
    list-style: none;
    padding-left: 15px
}

.menu-footer li ul li a {
    padding: 0;
    font-size: 12px
}

.menu-footer li a:hover {
    background: transparent
}

footer {
    background-color: #ffffff;
}

.footer2 .btn-primary {
    padding: 3px 5px;
    font-size: 13px;
}

.footer2 .row>div {
    padding-top: 15px;
    padding-bottom: 15px
}

.footer2 .row>div p.text-uppercase {
    font-size: 14px
}

.footer2 .phone-number {
    padding: 0
}

.high-title {
    float: left;
    margin-right: 10px;
}

.footer-highlight {
    float: left;
    width: 165px;
    padding: 0 10px;
}

.footer-highlight p {
    font-size: 12px
}

.gmap {
    position: relative;
    overflow: hidden;
    height: 425px;
    width: 100%;
}

.gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-footer > p {
    font-size: 11px;
}

a.developed-by {
    color: #007bc3;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 900
}

h1 {
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase
}

.scrolloff {
    pointer-events: none;
}

.car-item {
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s all linear
}

.car-item:hover {
    background-color: #e8e8e8;
    color: #ff4000
}

.car-image img {
    width: 85%
}


/*------------------------------ HOME - END  --------------------------------*/


/*------------------------ NEW CARS LIST - START  ---------------------------*/

.car-minis {
    text-align: center;
    color: #333333;
    float: left;
}

.content .container>div {
    padding-top: 45px;
}

.car-mini-img {
    margin-bottom: 30px;
    vertical-align: bottom;
    width: 100%;
    display: block;
}

.car-mini-name {
    margin-top: 30px;
    text-transform: uppercase;
}

.interest {
    margin: auto;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 7px;
    background: #017ac0;
    border-radius: 7px;
    text-transform: uppercase
}

.interest2 {
    margin: auto;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 7px;
    background: #55c4e3;
    border-radius: 7px;
    text-transform: uppercase
}

.new-list .col-lg-3:nth-child(6n+6) {
    clear: both;
}


/*------------------------- NEW CARS LIST - END  ----------------------------*/


/*------------------------ NEW CAR DETAIL - START  --------------------------*/

.form-banner {
    background-color: #414e57;
    padding: 25px;
}

.form-banner2 {
    background-color: #414e57;
    margin: 20px;
    padding: 25px;
}

.form-banner h2,
.form-banner2 h2 {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 0;
}

.car-details table {
    width: 100%;
    margin-top: 50px;
}

.car-details table tr td,
.car-details table tr th {
    text-align: center;
    padding: 10px 0;
}

.car-details table tr {
    border-bottom: 1px solid #bdbdbd;
}

.legenda span {
    display: block;
    float: left;
    width: 140px;
    padding: 0 15px;
}

.legenda span img {
    margin-right: 10px
}

.table-responsive {
    border: none !important;
}

.flexslider {
    background: transparent;
    border: none
}

.flex-control-thumbs li {
    width: 23% !important;
    margin-right: 2.66% !important;
}

.flex-control-thumbs li:last-child {
    margin-right: 0 !important;
}


/*------------------------- NEW CAR DETAIL - END  ---------------------------*/


/*------------------------ USED CAR LIST - START  ---------------------------*/

.used-car {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.used-car h3 {
    color: #017ac0;
    font-weight: 900;
    margin-left: 15px;
}

.used-car .highlight-details div {
    float: left;
    width: 45%;
}

.used-car .highlight-details {
    margin-left: 15px;
    float: left;
    margin-right: 15px;
}

.filters-form {
    background: #414e57;
    border-radius: 7px;
    color: #FFF;
    padding: 15px
}

.filters-form h1 {
    margin: 0;
    font-size: 28px;
}

h2.label {
    font-size: 18px;
    margin: 15px 0;
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    padding: 0;
}


/*------------------------- USED CAR LIST - END  ----------------------------*/


/*----------------------- USED CAR DETAIL - START  --------------------------*/

.container2-form-busca {
    margin-top: 0px !important;
}

.form-proposta button {
    background: transparent;
    color: #FFF;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.btn-padrao {
    display: block;
    border: 1px solid #FFF;
    border-radius: 3px;
    outline: none;
}

section.col-xs-3.sidebar-into {
    background-color: #FFCC33;
}

.form-contact-sidebar-into {
    color: #fff;
}

.container-list-cars {
    border: 1px solid #E3E3E3;
    float: left;
    min-height: 240px;
}

.description-car-list.col-xs-12 h1 {
    color: #000;
    font-size: 24px;
}

.more-info-cars {
    display: block;
    padding: 8px 6px;
    width: 100%;
    background: #E3E3E3;
}

.more-info-cars .btn-more-info,
.more-info-cars .btn-send-mobile,
.more-info-cars .btn-more-price {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    margin-right: 10px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.description-car-list,
.description-car-list a {
    float: none;
    display: block;
    margin: 10px 0;
}

a.btn-more-info {
    background: #FFCC33;
    color: #fff;
    z-index: 999999;
}

a.btn-more-info:hover {
    background: #FFF;
    color: #FFCC33;
}

.m30-b {
    margin-bottom: 30px;
}

section.body-conteudo.container {
    padding-top: 27px;
}

#slider.used-car-slider .slides img {
    margin: auto;
}

#carousel.flexslider .slides img {
    height: 130px;
    width: auto;
    margin: auto
}

.tab-pane ul {
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
    padding: 25px
}

.img-page {
    width: 100%;
    display: block;
    float: left;
    clear: both;
    margin-bottom: 25px
}

.main-menu .navbar-default {
    margin-bottom: 0;
}


/*------------------------ USED CAR DETAIL - END ----------------------------*/


/*-------------------------- TEST-DRIVE - START -----------------------------*/

.form-title {
    padding: 10px 25px 0 25px;
    color: #FFF;
}

.form-title h2 {
    font-size: 23px;
}

.form-r-intern .panel-group hr {
    width: 100%;
}

.title-blue {
    color: #0067B5;
    font-size: 32px;
    font-weight: normal;
    text-align: center
}

p {
    font-size: 16px;
}

small {
    font-size: 70%;
}

.special-text {
    text-align: center;
    max-width: 910px;
    display: block;
    margin: auto
}

#mapa {
    height: 300px;
}

.foot-nav>li {
    display: block;
    float: left;
}


/*-------------------------- TEST-DRIVE - END -------------------------------*/


/*------------------------ RESPONSIVENESS - START  --------------------------*/

@media only screen and (min-width: 320px) {
    .used-car-slider{
        display: none;
    }
    #homeCarousel2 {
        display: block;
    }
    #homeCarousel2 .carousel-inner a.item img{
        width: 100%
    }
    #homeCarousel {
        display: none
    }
    #homeCarousel .carousel-indicators {
        display: none;
    }
    .btn-llame {
        margin-left: 0 !important
    }
    .xs-center {
        text-align: center
    }
    .foot-nav>li {
        width: 100%;
    }
    .top-bar {
        height: auto;
    }
    .used-description {
        padding: 30px;
        padding-top: 0
    }
    .navbar-default .navbar-nav>li>a {
        float: left;
        width: 90%;
        font-weight: 700;
    }
    .navbar-default .navbar-nav>li>a.dropdown-caret {
        float: left;
        width: 100%
    }
    .sub-nav {
        font-weight: 700;
    }
    #btnEnviar {
        width: 100%;
        margin-top: 10px;
    }
    .oldPrice,
    .Price,
    .savedPrice {
        width: 100%;
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 480px) {
    .navbar-header {
        margin: auto;
        width: 256px;
        float: none;
    }
    .oldPrice {
        width: 26%;
    }
    .Price {
        width: 36%;
    }
    .savedPrice {
        width: 20%;
    }
}

@media only screen and (min-width: 768px) {
    .used-car-slider{
        display: block;
    }
    .btn-llame {
        float: right;
        margin-left: 15px !important
    }
    #homeCarousel .carousel-indicators {
        display: block
    }
    .pull-to-banner {
        margin-top: 0
    }
    .foot-nav>li {
        width: 33%;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    .used-description {
        padding-top: 0;
        padding-bottom: 0
    }
    .main-menu {
        height: auto;
    }
    ul.dropdown-menu {
        top: 100%;
    }
    .brd-left-2 {
        border-left: none;
    }
    .no-gutter {
        padding-left: 0;
        padding-right: 0;
    }
    .main-nav,
    .foot-nav {
        float: left;
        font-size: 17px;
        font-weight: 700;
        width: 100%;
    }
    .foot-nav {
        padding: 30px 0;
    }
    .dropdown-li {
        display: inline-block !important;
    }
    .dropdown-link {
        display: inline-block !important;
        padding-right: 4px !important;
    }
    .dropdown-caret {
        display: inline-block !important;
    }
    .sub-nav {
        font-size: 12px;
        float: right;
        margin: 0;
    }
    .navbar-default .sub-nav>li>a {
        padding: 19px 0px;
        line-height: 12px;
        font-size: 12px;
    }
    .navbar-default .navbar-nav>li>a.dropdown-caret,
    .navbar-default .navbar-nav>li>a {
        width: auto;
        padding: 18px 8px;
    }
}

@media only screen and (min-width: 992px) {
    #homeCarousel {
        display: block
    }
    #homeCarousel2 {
        display: none
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin: -44px -70px
    }
    .navbar-header {
        float: left;
        width: auto;
        height: 51px;
    }
    #homeCarousel .carousel-inner {
        min-height: 530px
    }
    .navbar-default .navbar-nav>li>a {
        margin-bottom: 0;
        padding: 18px;
    }
    .main-menu,
    .main-menu .container,
    .main-menu .navbar-default,
    .main-menu .container-fluid {
        height: 51px;
    }
    .main-menu .row {
        height: 51px
    }
    .top-bar button {
        font-size: 11px;
        margin-left: 15px;
        padding: 4px 9px;
        margin-top: 3px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 18px 8px;
    }
    .navbar-brand {
        margin-top: -13px;
    }
    .navbar-default .sub-nav>li>a {
        font-size: 12px;
        padding: 18px !important;
    }
    .top-bar p.text-uppercase {
        font-size: 12px
    }
    .content .container>div {}
    .pull-to-banner {
        margin-bottom: -70px;
        margin-top: -590px;
    }
    .menu-footer li a {}
    .no-pd-r2 {
        padding-right: 0
    }
    .navbar-default .navbar-nav>li>a.dropdown-caret {
        padding: 18px 8px
    }
}

@media only screen and (min-width: 1200px) {
    .text-center-lg {
        text-align: center
    }
    .top-bar button {
        font-size: 15px;
    }
    .navbar-default .navbar-nav>li>a.dropdown-caret {
        padding: 18px;
    }
    .ventas {
        padding-right: 20px;
    }
    .navbar-brand {
        margin-top: -26px;
    }
    .navbar-default .navbar-nav.sub-nav>li>a {
        font-size: 12px
    }
    .pull-to-banner {
        margin-bottom: 0;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
        padding: 18px;
    }
    .brd-left-2 {
        border-left: 2px solid #cbcaca;
    }
    .used-description {
        padding-left: 0;
        padding-right: 0
    }
    #btnEnviar {
        margin-top: 0
    }
    .cars-list {
        width: 800px;
    }
    .car-item {
        min-height: 130px;
        padding: 20px 0;
        cursor: pointer
    }
    .yamm-content {
        padding: 5px 30px !important;
    }
    .foot-nav>li {
        width: 20%;
    }
}

@media only screen and (max-width: 598px) {
    .used-buttons .btn {
        display: block;
        float: none;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        white-space: normal;
    }
    .nav-pills>li {
        float: none;
        text-align: center
    }
}


/*------------------------ RESPONSIVENESS - END  --------------------------*/

.nav > li:hover > a {
    color: white;
    /*hover text color*/
}

.nav > li:hover > ul > a {
    color: black;
    /*dropdown item text color*/
}

.map-row {
    margin-top: 50px
}

.form-group label {
    display: block;
    min-height: 34px;
    margin-bottom: 0;
    padding: 7px 15px;
}

#bs-example-navbar-collapse-1 {
    border: none;
    position: relative;
    z-index: 5
}

#modal_send_phone,
#modal_precio_especial {
    z-index: 1050
}

.spanx {
    font-weight: bold;
    display: block;
    padding-top: 5px;
}


/* Promociones */

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    line-height: 1px;
    height: 1px;
}

.fillform {
    background: url(../images/bg_fillform.png) repeat-x left top #1b1b1b;
    padding: 23px 16px 39px 16px;
}

.home .fillform {
    margin-bottom: 46px;
}

.fillform h3 {
    line-height: 24px;
    margin-bottom: 25px;
    color: #ed3036;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.fillform h3 strong {
    margin-bottom: 5px;
    color: #fff;
    font-size: 13px;
    display: block;
}

.fillform .fillform-row {
    margin-bottom: 10px;
}

.select-row {
    margin-bottom: 10px;
}

.select-row ul {
    width: 100%;
}

.slider2 {
    background: url(../images/bg_slider2.jpg) no-repeat center top;
    margin-bottom: 46px;
    -webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.slider2 .caption {
    padding: 50px;
}

.slider2 .caption .txtb {
    border: 1px solid #fff;
    width: 602px;
    float: left;
    padding: 35px 47px 48px 47px;
    color: #fff;
}

.slider2 .caption .txtb h2 {
    background: url(../images/bg_caption_line.png) no-repeat left bottom;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.slider2 .caption .imgb {
    width: 523px;
    float: left;
    margin: -48px 0 0 -365px;
    position: relative;
    z-index: 2;
}

.slider2 .fillform {
    background: none;
    padding: 28px 34px 23px 0;
    margin-bottom: 0;
}

.slider2 .fillform h3 {
    margin-bottom: 8px;
    color: #fff;
}

.slider2 .fillform .form-control,
.slider2 .fillform-row,
.slider2 .select-row {
    margin-bottom: 5px;
}

.slider2 .fillform-row .select-row {
    width: 73px;
    float: left;
    margin: 0;
}

.slider2 .fillform-row .form-control {
    width: 152px;
    float: right;
    margin: 0;
}

.slider2 .fillform .textarea {
    min-height: 60px;
    padding-top: 11px;
    margin-bottom: 5px;
}

.slider2 .button {
    background: #262626;
}

.slider2 .button:hover {
    background: #000;
}

@media only screen and (max-width: 767px) {
    .slider2 .caption {
        padding: 40px 8px;
    }
    .slider2 .caption .txtb {
        border: 1px solid #fff;
        width: auto;
        float: none;
        padding: 14px 8px 28px 15px;
        margin: auto;
        color: #fff;
        text-align: center;
    }
    .slider2 .caption .txtb h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .menu > ul > li {
        float: left;
        list-style: none;
        width: 100%;
        text-align: left;
    }
    .menu > ul > li > a > strong > span {
        text-align: left;
    }
    .navigation > ul > li > a > strong > span {
        text-align: left;
        margin: 0 0 0 -55px;
    }
}

.new-car-parts {
    border: 4px solid transparent;
    margin-bottom: 30px
}

.new-car-parts.selected {
    border-color: #ff4000;
}

.promo {
    color: #000;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
}

.promo2 {
    font-weight: 600;
}

.dropdown-menu {
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: #777;
    border-bottom: 1px solid #e8e8e8
}

.dropdown-menu>li:last-child a {
    border-bottom: none
}

.navbar-nav>li>.dropdown-menu {
    border-top: 4px solid #777;
    color: #777;
    background: #D7D7D7;
}

.navbar-nav>li:last-child>.dropdown-menu {
    right: 20px;
}
