{% extends "layout.html" %} {% block title %}Veículos novos Itaimbé{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8 new-car">
            <h1>{{ car.name }}</h1>
            <img src="{{car.imageURL}}{{car.image.image}}" class="img-responsive" alt="{{car.seo.alt}}" />
            <div class="car-desc">
                <p>{{car.description|raw}}</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 form-banner">
            <h2>COTIZA AQUÍ TU HONDA</h2>
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                </div>
                <div class="form-group">
                    <select name="model" class="form-control" data-placeholder="Modelo" data-required="true" disabled="disabled">
                        <option value="{{ car.name }}">{{ car.name|capitalize}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="enviar_form(4);" value="COTIZAR AGORA" class="form-control">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 car-details">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    {% for infocategory in car.informations %}
                    <li role="presentation" {% if loop.first %}class="active" {% endif %}><a href="#panel-{{ loop.index }}" aria-controls="panel-{{ loop.index }}" role="tab" data-toggle="tab">{{infocategory.name|capitalize|replace({'Dimensões e capacidades' : 'Dimensões', 'Características exteriores' : 'Exterior', 'Características interiores' : 'Interior'})}}</a>
                    </li>
                    {% endfor %}
                    <li role="presentation"><a href="#cores" aria-controls="cores" role="tab" data-toggle="tab">Cores</a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% for infocategory in car.informations %}
                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="panel-{{ loop.index }}">
                        <div class="table-responsive">
                            <table id="table{{ loop.index }}">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for model in car.models %}
                                        <th>{{model.name}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for info in infocategory.infos %}
                                    <tr>
                                        <th>{{info.name}}</th>
                                        {% for value in info.values %}
                                        <td>{% if value.description == 'Sim' %}<img src="assets/frontend/images/green-dot.png" alt="">{% elseif value.description == 'Não' %}<img src="assets/frontend/images/red-dot.png" alt="{{car.seo.alt}}">{% else %}{{value.description}}{% endif %}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cores">
                        <table id="table">
                            {% for color in car.color %}
                            <tr>
                                <th>{{color.name}}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                    <div class="legenda">
                        <span>Legenda: </span><span><img src="assets/frontend/images/green-dot.png" /> Disponível</span> <span><img src="assets/frontend/images/red-dot.png" /> Indisponível</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h2 class="galeria_de_fotos">Galeria de Fotos</h2>
            <div id="slider" class="flexslider">
                <ul class="slides">
                    {% for image in car.images %}
                    <li style="width:100%;">
                        <a href="{{car.imageURL}}{{image.image}}" rel="prettyPhoto"><img src="{{car.imageURL}}{{image.image}}" alt="{{car.seo.alt}}" /></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    {% for image in car.images %}
                    <li style="width:100%;">
                        <img src="{{car.imageURL}}{{image.image}}" width="200" height="150" style="height: 140px;width: inherit !important;" alt="{{car.seo.alt}}" />
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
