{% extends "layout.html" %} {% block title %}New Honda Cars, Trucks & SUVs In Miami | Honda of Aventura | Near Hollywood, Hialeah, Davie{% endblock %} {% block content %}
<div class="container">
    <div class="row new-list">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>AUTOS NUEVOS</h1>
        </div>
        {% for car in cars.cars %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <a href="{{ car|url }}" title="{{car.name}}" class="car-minis">
                <div class="car-mini-img"><img src="{{car.imageURL}}{{car.image.image}}" alt="{{car.name}}" class="img-responsive" />
                </div>
                <div class="car-mini-name">Honda {{car.name|upper}}</div>
                <div class="interest">Ver Más</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
