{% extends "layout.html" %} {% block title %}{{car.data.brand}} {{car.data.brand_model}} {{car.data.brand_model_version}} - North Miami Beach FL area Honda dealer near Miami FL – New and Used Honda dealership Hollywood Hialeah Davie Florida{% endblock %} {% block content %}
<div class="container">
        <div class="row">

        <div class="col-md-12 carros">
            <h1>{{car.data.title}}</h1>
        </div>

        <article class="col-md-9 detail-car-used">

            <div class="row">

                <div class="col-md-7 no-padding galeria">
                      <div id="slider" class="flexslider">

                        <ul class="slides">
                            {% for image in car.data.gallery %}
                            <li>
                                <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width="474" class="modal-interesse" style="cursor:pointer;">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end gallery used -->
                    <!-- begin carousel gallery used -->
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {% for image in car.data.gallery %}
                            <li>
                                <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width="110">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">



                    <div class="container-description-used">
                        <ul class="list-group">
                            <li class="list-group-item">Preço{# de varejo#}: <span class="pull-right">R$ {{car.data.price}}</span></li>
                            {#
                            <li class="list-group-item list-bg-red">Preço Especial: <span class="pull-right">R$ {{car.data.price}}</span></li>#} {#
                            <li class="list-group-item"><i class="icon-economy"></i>Economia: <span class="pull-right">R$ {{car.data.savedPrice}}</span></li>#}
                            <li class="list-group-item"><img src="images/year.png" alt="" class="img-icon">
                                <!-- <i class="icon-year"></i> -->Ano: <span class="pull-right">{{car.data.year_model}}</span></li>
                            <li class="list-group-item"><img src="images/quilo.png" alt="" class="img-icon">
                                <!-- <i class="icon-km"></i> -->Quilometragem: <span class="pull-right">{{car.data.odometer}}</span></li>
                            <li class="list-group-item"><img src="images/trans.png" alt="" class="img-icon">
                                <!-- <i class="icon-transmition"></i> -->Transmissão: <span class="pull-right">{{car.data.transmission}}</span></li>
                            <!-- <li class="list-group-item"><i class="icon-fuel"></i>Combustível:
                            <span class="pull-right">
                                <span class="color-red-roma">10</span> cidade
                                <span class="color-red-roma">20</span> estrada
                            </span>
                        </li> -->

                        </ul>
                    </div>
                </div>
                {% if car.data.status_sale == 1%}
                <div class="col-md-12" style="height: 80px;">
                    <img src="images/semelhantes.png" class="image-responsive" style="position: absolute;z-index: 999;" />
                </div>
                <div>
                    {% for car in relacion_bottom %}
                    <li class="col-md-4 relacion">
                        <!-- start imgb -->
                        <div class="imgb" style="height: 170px;">
                            <a href="{{car|used_url}}" title="{{car.title}}">
								{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" width="270" alt="car" />{% endif %}
							</a>
                        </div>
                        <!-- end imgb -->
                        <!-- start txtb -->
                        <div class="txtb" style="margin-top: 35px;">
                            <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 12px;">{{car.title}}</div>
                        </div>
                        <!-- end txtb -->
                    </li>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-12 especification">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#especification" aria-controls="especification" role="tab" data-toggle="tab">Especificações</a></li>
                            <li role="presentation"><a href="#acessorios" aria-controls="acessorios" role="tab" data-toggle="tab">Acessórios</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="especification">
                                <ul class="col-xs-12">
                                    <li><span>Quilometragem </span>{{car.data.odometer}} {{car.data.odometer_type}}</li>
                                    <li><span>Transmissão </span>{{car.data.transmission}}</li>
                                    <p>
                                    {{car.data.description}}
                                </p>
                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="acessorios">
                                <ul class="col-xs-12">
                                    {% for option in car.data.options %}
                                    <li><span>{{option.title|capitalize|raw}} </span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                </div>
            </div>

        </article>

        <!-- begin sidebar  -->
        <section class="col-md-3 sidebar">



            {% if car.data.status_sale != 1%}
            <!--  begin container form contact sidebar -->
            <section id="form_proposta" class="container2-form-busca tab-pane active" role="tabpanel">
                <div class="fillform clearfix">
                    <form onsubmit="return false;" class="form1">
                           <input type="hidden" name="formName" value="SITE_SEMINOVOS_COTACAO">
                        <div class="fillform-in">
                            <h3><span>SOLICITE AGORA</span> SUA COTAÇÃO</h3>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nome" data-placeholder="Nome" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="E-mail" data-placeholder="E-mail" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Telefone" data-placeholder="Telefone" data-required="true">
                            </div>
                            <div class="form-group">
                                <select name="model" class="form-control" data-placeholder="Modelo" data-required="true" disabled="disabled">
                                    <option value="{{car.data.title}}">{{car.data.title}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Mensagem:" data-placeholder="Mensagem" data-required="true"></textarea>
                            </div>

                            <!-- end select row -->
                        </div>
                        <!-- start bottom row -->
                        <div class="bottom-row clearfix">
                            <input name="submit" onclick="enviar_form(1);" value="ENVIAR" class="btn-submit">
                        </div>
                        <!-- end bottom row -->
                    </form>
                </div>

            </section>


            <!--  begin container form contact sidebar -->



            <div class="gadgets-sidebar">


            </div>
            <!-- end container venda direta -->

            <!-- begin container conheça mais -->
            <div class="gadgets-sidebar">


            </div>

            {% else %}
            <div style="margin: -30px 0 0 -25px !important;">
                <div class="title_seme">Confira outros
                    <br>veículos semelhantes.</div>
                {% for car in relacion_right %}
                <li class="col-xs-12 relacion">
                    <!-- start imgb -->
                    <div class="imgb" style="height: 170px;">
                        <a href="{{car|used_url}}" title="{{car.title}}">
						{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" width="270" alt="car" />{% endif %}
					</a>
                    </div>
                    <!-- end imgb -->
                    <!-- start txtb -->
                    <div class="txtb" style="margin-top: 35px;">
                        <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 14.5px;">{{car.title}}</div>
                    </div>
                    <!-- end txtb -->
                </li>
                {% endfor %}
            </div>
            {% endif %}

        </section>
        <!-- end sidebar  -->

    </div>
    </div>
{% endblock %}
