{% extends "layout.html" %} {% block title %}Used Honda Cars, Trucks & SUVs In Miami | Honda of Aventura | Near Hollywood, Hialeah, Davie{% endblock %} {% block content %}

<div class="container mg-tp-100">
    <div class="row">
        <div class="col-lg-3">
            <div class="filters-form">
                <h1>BUSQUE SU AUTO</h1>
                <form action="{{rooturl}}{{url_used_cars}}-{fake_args}-{{url_complement}}-{args}" id="formSearch">
                    <h2 class="label">Año</h2> {% for year in filters.data.years %} {% for year in filters.data.years %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" {% if args.year_model_min|default( '') == year.year_model %} checked="checked" {% endif %} name="year" class="year" value="{{ year.year_model }}"> {{ year.year_model }} ({{ year.total }})
                        </label>
                    </div>
                    {% endfor %}


                    <h2 class="label">Precio</h2> {% for price in filters.data.price %}
                    <div class="checkbox">
                        <label>
                            {% set price_min_max = price.min ~ '-' ~ price.max %}
                            <input type="checkbox" name="price" class="price" {% if args.price|default( '-1') == price_min_max %}checked="checked" {% endif %} value="price+max_{{ price.max }}-price+min_{{ price.min}}">
                            <i></i>
                            <span>R$ {{ price.min|number_format(2, ',', '.') }} - {{ price.max|number_format(2, ',', '.') }} ({{price.total}})</span>
                        </label>
                    </div>
                    {% endfor %}
                    <h2 class="label">Modelo</h2> {% for brand in filters.data.brands %} {% for model in brand.models %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="model" class="model" value="brand+model+id_{{model.brand_model_id}}" {% if args.brand_model_id|default( '') == model.brand_model_id %}checked="checked" {% endif %}>
                            <i></i>
                            <span>{{model.brand_model}} ({{model.total}})</span>
                        </label>
                    </div>
                    {% endfor %} {% endfor %}

                    <h2 class="label">Marca</h2> {% for make in filters.data.brands %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="maker" class="maker" value="brand+id_{{make.brand_id}}" {% if args.brand_id|default( '') == make.brand_id %}checked="checked" {% endif %}>
                            <i></i>
                            <span>{{ make.brand }} ({{ make.total }})</span>
                        </label>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="col-lg-9">
           {% if used_cars %}
           {% for car in used_cars.data %}
            <div class="used-car">
                <div class="row">
                    <div class="col-lg-4">
                        {% if car.file %}
                                                    <a href="{{car|used_url}}"><img style="z-index:99999999999; max-height: 139px; width: auto;" src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" width="267" class="img-responsive" alt="{{car.title}}"/></a> {% else %}
                                <img src="http://dummyimage.com/271x203/ababab/000000&text=sem+imagem" /> {% endif %}
                    </div>
                    <div class="col-lg-8 used-description">
                        <h3>{{car.title}}</h3>
                        <div class="highlight-details">
                            <div>Odometer: <strong>{{car.odometer}}</strong></div>
                            <div>Fuel Type: <strong>{{car.fuel}}</strong></div>
                            <div>Color: <strong>{{car.color}}</strong></div>
                            <div>Transmission: <strong>{{car.transmission}}</strong></div>
                        </div>
                        <div class="highlight-price">
                            <div class="oldPrice">
                                <small>Precio Inicial</small>
                                <br />
                                <big>${{car.oldPrice}}</big>
                            </div>
                            <div class="Price">
                                <small>Precio de Internet</small>
                                <br />
                                <big>${{car.Price</big>
                            </div>
                            <div class="savedPrice">
                                <small>Descuento</small>
                                <br />
                                <big>${{car.savedPrice}}</big>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">

                    <div class="used-buttons text-right">
                        <a href="{{car|used_url}}" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                        <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                        <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                    </div>
                </div>
            </div>
            {% endfor %}{% endif %}
        </div>
    </div>
</div>
{% endblock %}
