{% extends "layout.html" %} {% block title %}{{ 'title'|trans }}{% endblock %} {% block content %}
<section class="no-banner">

    <div class="content-internas">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 noticias">
                    <h1>Notícias e novidades</h1>
                    <div class="noticia destaque">
                        <a href="{{rooturl}}blog/{{new.slug}}" title=""><img src="{{ new.image }}" class="img-responsive">
                        </a>
                        <a href="{{rooturl}}blog/{{new.slug}}" class="data-noticia">{{ new.publication_date|date('d/m/Y H:i:s') }}</a>
                        <a href="{{rooturl}}blog/{{new.slug}}" class="title-noticia">{{ new.title }}</a>
                        <p>{{ new.subtitle }}</p>
                        <p>{{ new.description|raw }}</p>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget-lat">
                        <h2>Mais lidas</h2>
                        {% for new in news_more_views[:5] %}
                        <div class="top-read">
                            <span class="number">{{loop.index}}</span>
                            <a href="{{rooturl}}blog/{{new.slug}}" class="top-noticia">{{new.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
