{% extends "layout.html" %} {% block title %}{{ 'title'|trans }}{% endblock %} {% block content %}
<section class="no-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Notícias e novidades</h1> {% if news|length
                < 1 %} <div class="post-blog">
                    <h2>Nenhum post cadastrado até o momento.</h2>
            </div>
            {% endif %} {% for page in news %} {% for new in page %} {% if loop.first %}

            <div class="noticia destaque">

                <a href="{{rooturl}}blog/{{new.slug}}" title=""><img src="{{ new.image }}" class="img-responsive">
                </a>
                <a href="{{rooturl}}blog/{{new.slug}}" class="data-noticia">{{ new.publication_date|date('d, F \\d\\e Y') }}</a>
                <a href="{{rooturl}}blog/{{new.slug}}" class="title-noticia">{{ new.title }}</a>
                <p>{{ new.description|raw }}</p>

            </div>
            {% else %}
            <div class="noticias-lista">
                <div class="noticia-list">
                    <a href="#" class="data-noticia">{{ new.publication_date|date('d, F \\d\\e Y') }}</a>
                    <a href="#" class="title-noticia">{{ new.title }}</a>
                </div>
            </div>

            {% endif %} {% endfor %} {% endfor %} {% if news|length > 1 %}
            <div class="pagination-not">
                <a href="#" class="anterior">Anterior</a> {% for page in news %}
                <a href="#">{{loop.index}}</a> {% endfor %}
                <a href="#" class="proxima">Proxima</a>
            </div>
            {% endif %}

        </div>
        <div class="col-lg-3">
            <div class="widget-lat">
                <h2>Mais lidas</h2> {% for new in news_more_views[:5] %}
                <div class="top-read">
                    <a href="{{rooturl}}blog/{{new.slug}}" class="top-noticia">{{new.title}}</a>
                </div>
                {% endfor %}
            </div>
            <!--  <div class="widget-lat">
                    <h2>Midia online</h2>
                    <a href="#">
                        <img src="assets/frontend/images/video.png" class="video-lnk" alt=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fuga.
                    </a>
                </div> -->
        </div>
    </div>
</section>
{% endblock %}
