{% extends "layout.html" %} {% block title %}{{ car.name }} en Miami, Hollywood, Hialeah, Davie, FL {% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8 new-car">
            <h1>{{ car.name }}</h1>
            <img src="{{car.imageURL}}{{car.image.image}}" class="img-responsive" alt="{{car.name}}" />
            <div class="car-desc">
                <p>{{car.description|raw}}</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 form-banner">
            <h2>COTIZA AQUÍ TU HONDA</h2>
            <form class="form1" onsubmit="return false;">
                            <input type="hidden" class="captation" name="formCaptation" value="SITIO_NUEVOS_COTIZACION" />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                </div>
                <div class="form-group">
                    <select name="model" class="form-control" data-placeholder="Modelo" data-required="true" disabled="disabled">
                        <option value="{{ car.name }}">{{ car.name|capitalize}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="enviar_form(1);" value="COTIZAR AGORA" class="form-control">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 car-details">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    {% for infocategory in car.informations %}
                    <li role="presentation" {% if loop.first %}class="active" {% endif %}><a href="#panel-{{ loop.index }}" aria-controls="panel-{{ loop.index }}" role="tab" data-toggle="tab">{{infocategory.name|capitalize}}</a>
                    </li>
                    {% endfor %}
                    <li role="presentation"><a href="#cores" aria-controls="cores" role="tab" data-toggle="tab">Colors</a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% for infocategory in car.informations %}
                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="panel-{{ loop.index }}">
                        <div class="table-responsive">
                            <table class="stack-table" id="table{{ loop.index }}">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for model in car.models %}
                                        <th>{{model.name}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for info in infocategory.infos %}
                                    <tr>
                                        <th>{{info.name}}</th>
                                        {% for value in info.values %}
                                        <td>{{value.description}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cores">
                        <table id="table">
                            {% for color in car.color %}
                            <tr>
                                <th>{{color.name}}</th>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h2>Galería de Fotos</h2>
            <div class="slider slider-for">
                {% for image in car.images if image.car_color_id == null %}
                    <div>
                       <img src="http://dealers.rewebmkt.com/thumb.php?src={{ image.image }}&size=1140x" alt="{{car.name}}" class="img-responsive" /></a>
                    </div>
                {% endfor %}
            </div>
            <div class="slider slider-nav">
                {% for image in car.images if image.car_color_id == null %}
                    <div>
                       <img src="http://dealers.rewebmkt.com/thumb.php?src={{ image.image }}&size=320x" alt="{{car.name}}" /></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
