{% extends "layout.html" %}
{% block title %}Ops, aconteceu algum problema{% endblock %}


{% block content %}
<article class="body-conteudo container">

<div class="row">

    <div class="col-xs-12 container-page">

    <h1>Ops</h1>

    <p> Página não encontrada</p>


    </div>

</div>

</article>

{% endblock %}
