{% extends "layout.html" %} {% block title %}Concesionario Honda en Miami, Hollywood, Hialeah, Davie, FL{% endblock %} {% block content %}
<div class="banner">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <div class="carousel-inner">
            {% for banner in banners.banners %}
            <a href="{{banner.link}}" style=" background:url('{{banner.image}}') 30% center no-repeat" class="item {% if loop.first %}active{% endif %}">
                <div class="container"></div>
            </a>
            {% endfor %}
        </div>
        <div class="container">
            <ol class="carousel-indicators ">
                {% for banner in banners.banners %}
                <li data-target="#homeCarousel" data-slide-to="{{loop.index0}}" class=" {%if loop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<div id="homeCarousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">
        {% for banner in banners_mobile.banners %}
        <a href="{{banner.link}}" class="item {% if loop.first %}active{% endif %}">
            <img src="{{ banner.image }}" alt="{{banner.title}}">
            <div class="container"></div>
        </a>
        {% endfor %}
    </div>
</div>
</div>
</div>
<div class="container pull-to-banner">
    <div class="col-lg-3 col-md-4 col-xs-12 pull-right">
        <div class="panel-group form-accordion" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne1">
                    <h4 class="panel-title">COTIZA AQUI<br>TU HONDA</h4>

                </div>
                <div id="collapseOne1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form1" onsubmit="return false;">
                            <input type="hidden" class="captation" name="formCaptation" value="SITE_COTIZA" />
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                            </div>
                            <div class="form-group">
                                <select name="model" class="form-control" data-placeholder="Modelo" data-required="true">
                                    <option value="">Modelo</option>
                                    {% for car in cars.cars %}
                                    <option value="{{ car.name }}">{{ car.name }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" onclick="enviar_form(1);" value="COTIZAR AGORA" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo1">
                    <h4 class="panel-title">FINANCIAMENTO</h4>

                </div>
                <div id="collapseTwo1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form2" onsubmit="return false;">
                            <input type="hidden" class="captation" name="formCaptation" value="SITE_FINANCIAMENTO" />
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                            </div>
                            <div class="form-group">
                                <select name="model" class="form-control" data-placeholder="Modelo" data-required="true">
                                    <option value="">Modelo</option>
                                    {% for car in cars.cars %}
                                    <option value="{{ car.name }}">{{ car.name }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" onclick="enviar_form(2);" value="FINANCIA AGORA" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>AUTOS NUEVOS</h2>
            <div class="slider slider-carros-home">
                {% for car in cars.cars %} {% if car.image %}
                <li>
                    <div>
                        <a href="{{car|url}}">
                            <img class="img-responsive" src="{{car.imageURL}}{{car.image.image}}" alt="">
                            <span>{{car.name}}</span>
                        </a>
                    </div>
                </li>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="list-used-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SEMINUEVOS</h2>
            </div>
        </div>
        <div class="row">
            {% if used_cars %} {% for car in used_cars.data %}
            <div class=" col-xs-12 col-lg-6">
                <div class="used-car-highlight">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="{{car|used_url}}" class="link-img-car-list">
                               {% if car.file %}
                               {% set ff = car.file|split('.') %}
                                <img src="http://integrador.reweb.com.br/media/upload/gallery/{{ ff|first }}-600x397.{{ ff|last }}" alt="" class="img-responsive">
                                {% else %}
                                <img src="http://dummyimage.com/271x203/ababab/000000&text=sem+imagem" class="img-responsive" />
                                {% endif %}
                                </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 used-description">
                            <h3>{{car.title|upper}}</h3>
                            <div class="highlight-details">
                                <div>Odometer: <strong>{{car.odometer}}</strong></div>
                                <div>Fuel Type: <strong>{{car.fuel}}</strong></div>
                                <div>Color: <strong>{{car.color}}</strong></div>
                                <div>Transmission: <strong>{{car.transmission}}</strong></div>
                            </div>
                            <div class="highlight-price">
                                <div class="oldPrice">
                                    <small>Precio Inicial</small>
                                    <br />
                                    <big> ${{car.oldPrice}}</big>
                                </div>
                                <div class="Price">
                                    <small>Precio de Internet</small>
                                    <br />
                                    <big> ${{car.price}}</big>
                                </div>
                                <div class="savedPrice">
                                    <small>Descuento</small>
                                    <br />
                                    <big> ${{car.savedPrice}}</big>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">

                        <div class="used-buttons">
                            <a href="{{car|used_url}}" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                            <button type="button" class="btn btn-send-mobile promo-modal" data-toggle="modal" data-target="#modal_send_phone" data-carro="{{car.brand_model_version}}" data-toggle="modal" data-target="#promoModal">ENVIAR A SU TELÉFONO</button>
                            <button type="button" class="btn btn-request-special-price promo-modal2" data-toggle="modal" data-target="#modal_precio_especial" data-carro="{{car.brand_model_version}}" data-toggle="modal" data-target="#promoModal">SOLICITUD DE PRECIO DE INTERNET</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}{% endif %}
        </div>
    </div>
</div>
<div class="highlights-home">
    <div class="container">
        <div class="row">
            {% for highlight in highlights.highlights %}
            <div class="col-xs-12 col-sm-4 col-lg-2 highlight">
                <a href="{{rooturl}}{{highlight.link}}" class="high-img">
                    <img src="{{highlight.image}}" alt="">
                </a>
                <h3>{{highlight.title|upper}}</h3>
                <p>{{highlight.description}}</p>
                <a href="{{rooturl}}{{highlight.link}}">MÁS INFORMACIÓN</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
