<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="{% block contenttitle %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="{% block ogurl %}{% endblock %}">
    <meta property="og:image" content="{% block ogimage %}{% endblock %}">
    <meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
    <meta property="fb:admins" content="Fb admins">
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <base href="{{ rooturl }}" />
    <!-- Bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href="assets/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/frontend/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/frontend/css/jquery-ui.css" rel="stylesheet">
    <link href="assets/frontend/css/slick.css" rel="stylesheet">
    <link href="assets/frontend/css/yamm.css" rel="stylesheet">
    <link href="assets/frontend/css/slick-theme.css" rel="stylesheet">
    <link href="assets/frontend/css/stacktable.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/frontend/css/default.css">
    <link rel="stylesheet" href="assets/frontend/css/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="assets/frontend/js/jquery.min.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//cdn.reweb-corp.com/location.0.0.1.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true;
            a.type = "text/javascript";
            b.parentNode.insertBefore(a, b)
        }, 1);
    </script>
    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//cdn.reweb-corp.com/hm.0.0.1.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true;
            a.type = "text/javascript";
            b.parentNode.insertBefore(a, b)
        }, 1);
    </script>
</head>

<body>
    <header>
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 text-center-lg">
                            <a href="#" class="text-uppercase">VENTAS</a> {% for phone in phones.data %} {% if 'Ventas' in phone.nome %}
                            <a href="tel:{{phone.telefone|replace({' ' : ''})}}" class="phone-number">{{phone.telefone}}</a>{% endif %} {% endfor %}

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 text-center-lg">
                            <a href="#" class="text-uppercase">SERVICIOS</a> {% for phone in phones.data %}{% if 'Servicio' in phone.nome %}
                            <a href="tel:{{phone.telefone|replace({' ' : ''})}}" class="phone-number">{{phone.telefone}}</a> {% endif %}{% endfor %}
                            <img src="assets/frontend/images/phone-ico2.png" class="pd-5" alt="">
                        </div>
                        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-1 col-sm-2 col-xs-12 text-center-lg">
                            <button type="button" class="btn btn-primary btn-llame" data-toggle="modal" data-target="#modal_click_call">LLAME AHORA <img src="assets/frontend/images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-menu">
            <div class="container">
                <div class="navbar navbar-default yamm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 col-sm-12 col-xs-9 xs-center">
                                <div class="navbar-header">
                                    <a class="navbar-brand logo" href="{{rooturl}}">
                                        <img class="img-responsive" src="assets/frontend/images/logo.png" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="col-xs-3 visible-xs">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="col-xs-12 col-md-9 no-pd-r2">
                                <div style="position: relative">
                                    <div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
                                        <nav class="navigation clearfix menu">
                                            <ul class="nav navbar-nav main-nav">
                                                <li class="dropdown">
                                                    <a href="#" title="Novos" class="dropdown-caret dropdown-toggle" data-toggle="dropdown">Nuevos <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <div class="yamm-content">
                                                                <div class="row">
                                                                    <div class="cars-list">
                                                                        {% for car in cars.cars %}
                                                                        <div class=" col-xs-12 col-sm-4 col-md-3 car-item">
                                                                            <div class="car-image">
                                                                                <a href="{{ car|url }}" title="{{ car.name }}">
                                                                                   {% if car.image %}
                                                                                <img src="http://dealers.rewebmkt.com/thumb.php?src={{ car.image.image }}&size=150x" alt="{{ car.name }}"> {% endif %}
                                                                                </a>
                                                                            </div>
                                                                            <div class="car-name">{{ car.name }}</div>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {% for item in menu %} {% if not item.secundary_menu %}
                                                <li {% if item.submenu is defined %} class="dropdown dropdown-li" {% endif %}><a href="{% if item.submenu is defined %} #{% else %}{{item.url|menu_url}}{% endif %}>" title="{{item.keyword|trans|upper}}" {% if item.submenu is defined %}class=" dropdown-caret dropdown-toggle" data-toggle="dropdown" {% endif %}>{{item.keyword|trans|raw}}{% if item.submenu is defined %}<b class="caret"></b>{% endif %}</a> {% if item.submenu is defined %}
                                                    <ul class="dropdown-menu">
                                                        {% for subitem in item.submenu %} {% if subitem.keyword|raw == 'recalls' %}
                                                        <li><a href="http://owners.honda.com/service-maintenance/recalls" target="_blank">Recalls</a></li>
                                                        {% elseif subitem.keyword|raw == 'pre-aprovacion' %} {% elseif subitem.keyword|raw == 'pre-aprovacion' %} {% else %}
                                                        <li><a href="{{subitem.url|menu_url}}">{{subitem.keyword|trans|raw}}</a></li>
                                                        {% endif %} {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>

                                                {% endif %} {% endfor %}
                                            </ul>
                                            <ul class="nav navbar-nav navbar-right sub-nav">
                                                {% for item in menu %} {% if item.secundary_menu %}
                                                <li {% if item.submenu is defined %} class="dropdown dropdown-li" {% endif %}><a href="{{item.url|menu_url}}" title="{{item.keyword|trans|upper}}" class="dropdown-caret dropdown-toggle text-uppercase" data-toggle="dropdown">{{item.keyword|trans|raw}}{% if item.submenu is defined %}<b class="caret"></b>{% endif %} </a>{% if item.submenu is defined %}
                                                    <ul class="dropdown-menu">
                                                        {% for subitem in item.submenu %}
                                                        <li><a href="{{subitem.url|menu_url}}">{{subitem.keyword|trans|raw}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endif %} {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        <div class="container-fluid menu-footer hidden-xs">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav foot-nav">
                        {% for item in menu %} {% if not item.secundary_menu %}
                        <li><a href="{{item.url|menu_url}}" title="{{item.keyword|trans|upper}}" class="text-uppercase">{{item.keyword|trans|raw}}</a>
                            {% if item.submenu is defined %}
                                <ul>
                                    {% for submenu in item.submenu %}
                                    <li><a href="{{submenu.url|menu_url}}" title="{{submenu.keyword|trans|upper}}" class="text-uppercase">{{submenu.keyword|trans|raw}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endif %}{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer2 hidden-xs">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <a href="tel:+18557756519" type="button" class="btn btn-primary">LLAME AHORA <img src="assets/frontend/images/phone-ico.png" alt="" class="mg-l-5"></a>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <p class="text-uppercase no-mg-bt">VENTAS</p>

                            {% for phone in phones.data %}{% if 'Venta' in phone.nome %}
                            <a href="tel:{{phone.telefone|replace({' ' : ''})}}" class="phone-number">{{phone.telefone}}</a> {% endif %}{% endfor %}

                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <p class="text-uppercase no-mg-bt">SERVICIOS</p>
                            {% for phone in phones.data %}{% if 'Servicio' in phone.nome %}
                            <a href="tel:{{phone.telefone|replace({' ' : ''})}}" class="phone-number">{{phone.telefone}}</a> {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12  brd-left-2 no-gutter">
                    <div class="high-title">
                        <p class="mg-l-10">TIEMPOS</p>
                    </div>

                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">VIENTAS</p>
                        <ul class="list-unstyled">
                            <li><span class="spanx">Lunes a Viernes:</span>9:00AM - 9:00PM</li>
                            <li><span class="spanx">Sábado:</span>9:00AM - 7:00PM</li>
                            <li><span class="spanx">Domingo:</span>11:00AM - 6:00PM</li>
                        </ul>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">SERVICIOS</p>
                        <ul class="list-unstyled">
                            <li><span class="spanx">Lunes a Viernes:</span>7:00AM - 6:00PM</li>
                            <li><span class="spanx">Sábado:</span>7:30AM - 4:00PM</li>
                            <li><span class="spanx">Domingo:</span>Cerrado</li>
                        </ul>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">PIEZAS</p>
                        <ul class="list-unstyled">
                            <li><span class="spanx">Lunes a Viernes:</span>7:00AM - 6:00PM</li>
                            <li><span class="spanx">Sábado:</span>7:30AM - 4:00PM</li>
                            <li><span class="spanx">Domingo:</span>Cerrado</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div id="overlay" class="gmap">
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14353.176322383875!2d-80.157123!3d25.925567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1094ea1b6563e211!2sHonda+of+Aventura!5e0!3m2!1spt-BR!2sbr!4v1452739009449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container pd-b-t-30">
            <div class="row">
                <div class="col-lg-3">
                    <img src="assets/frontend/images/logo-footer.png" class="img-responsive" alt="">
                </div>
                <div class="col-lg-9 text-footer">
                    <p>Concesionario Honda en Miami - Honda of Aventura se enorgullece de su excelente servicio al cliente y las experiencias positivas de compra de automóviles. Tenemos autos Honda con un estilo para adaptarse a cada uno. Modelos: Honda Accord Miami, Honda Civic Miami, Honda CR-V Miami, Honda Fit Miami, Honda Pilot Miami, Honda CR-Z Miami, Honda Odyssey Miami, Honda Crosstour Miami. Apunte una prueba de manejo para su nuevo Honda en Miami.</p>
                    <a href="#" class="developed-by">DESENVOLVIDO POR REWEB</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                </div>
                <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div-->
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modal_send_phone" role="dialog" aria-labelledby="modal_send_phone">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_seminovos">ENVIA ESTE AUTO A SU TELEFONO</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" onsubmit="return false;" role="form" class="form8">
                                <input type="hidden" name="formCaptation" value="OFERTA_ENVIA_TELEFONO">
                                <div class="form-group">
                                    <input type="text" name="name" data-required="true" data-placeholder="Nombre" class="form-control" placeholder="Nombre">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" data-required="true" data-placeholder="Teléfono" class="form-control" placeholder="Teléfono">
                                </div>

                                <div class="form-group">
                                    <input type="test" name="email" data-required="true" data-placeholder="Correo" class="form-control" placeholder="Correo">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="model" id="carro" class="form-control" placeholder="Modelo" data-placeholder="Modelo" data-required="true" value="">
                                </div>

                                <div class="form-group">
                                    <textarea data-required="true" name="message" data-placeholder="Mensaje" class="form-control" placeholder="Mensaje"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary close-form" value="Enviar" onclick="enviar_form(8);">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modal_precio_especial" role="dialog" aria-labelledby="modal_precio_especial">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_seminovos">PRECIO ESPECIAL</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" onsubmit="return false;" role="form" class="form9">
                                <input type="hidden" name="formCaptation" value="SEMINUEVOS_PRECIO_ESPECIAL">
                                <div class="form-group">
                                    <input type="text" name="name" data-required="true" data-placeholder="Nombre" class="form-control" placeholder="Nombre">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" data-required="true" data-placeholder="Teléfono" class="form-control" placeholder="Teléfono">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="email" data-required="true" data-placeholder="Correo" class="form-control" placeholder="Correo">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="model" id="carro2" class="form-control" placeholder="Modelo" data-placeholder="Modelo" data-required="true" disabled="true">
                                </div>

                                <div class="form-group">
                                    <textarea data-required="true" name="message" data-placeholder="Mensaje" class="form-control" placeholder="Mensaje"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary close-form" value="Enviar" onclick="enviar_form(9);">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal_click_call" role="dialog" aria-labelledby="modal_click_call">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_call">LLAME AHORA</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" onsubmit="return false;" role="form" class="form10">
                                <input type="hidden" name="formCaptation" value="SITE_CLICK_TO_CALL">
                                <div class="form-group">
                                    <input type="text" name="name" data-required="true" data-placeholder="Nombre" class="form-control" placeholder="Nombre">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" data-required="true" data-placeholder="Teléfono" class="form-control" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary close-form" value="Enviar" onclick="enviar_form(10);">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="assets/frontend/js/jquery-ui.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
<script src="assets/frontend/js/datepicker-es.js"></script>
<script src="assets/frontend/js/slick.min.js"></script>
<script src="assets/frontend/js/bootstrap.min.js"></script>
<script src="assets/frontend/js/carousel-swipe.js"></script>
<script src="assets/frontend/js/stacktable.js"></script>
<script src="assets/frontend/js/search.js"></script>
<script src="assets/frontend/js/jquery.inputmask.bundle.js"></script>
<script src="assets/frontend/js/dealers.form.js"></script>
<script src="assets/frontend/js/custom.js"></script>
<script src="assets/frontend/js/rota.js"></script>

</html>
