{% extends "layout.html" %} {% block title %}{{car.data.brand}} {{car.data.brand_model}} {{car.data.brand_model_version}} Seminuevo en Miami, Hollywood, Hialeah, Davie, FL{% endblock %} {% block content %}
<div class="container">
    <div class="row">

        <div class="col-xs-12 carros">
            <h1 class="text-uppercase">{{car.data.title}}</h1>
        </div>

        <article class="col-xs-12 col-md-9 detail-car-used">

            <div class="row">

                <div class="col-xs-12 col-md-7 no-padding galeria">
                    <div class="slider used-car-slider">
                        {% for image in car.data.gallery %}
                        <div>
                            <img src="http://integrador.reweb.com.br/media/upload/gallery/{{ image.file }}" class="img-responsive" alt="{{car.data.brand}} - {{car.data.title}}" />
                        </div>
                        {% endfor %}
                    </div>

                    <div class="slider used-car-carousel">
                        {% for image in car.data.gallery %} {% set ff = image.file|split('.') %}
                        <div>
                            <img src="http://integrador.reweb.com.br/media/upload/gallery/{{ ff|first }}-400x0.{{ ff|last }}" class="img-responsive" alt="{{car.data.brand}} - {{car.data.title}}" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 ">
                    <div class="container-description-used">
                        <ul class="list-group">
                            <li class="list-group-item"><img src="assets/frontend/images/ico_money.png" alt="" class="img-icon">Precio{# de varejo#}: <span class="pull-right">$ {{car.data.price}}</span></li>
                            {#
                            <li class="list-group-item list-bg-red">Precio Especial: <span class="pull-right">$ {{car.data.price}}</span></li>#} {#
                            <li class="list-group-item"><img src="assets/frontend/images/icon-economy.png" alt="" class="img-icon">Economia: <span class="pull-right">$ {{car.data.savedPrice}}</span></li>#}
                            <li class="list-group-item"><img src="assets/frontend/images/year.png" alt="" class="img-icon"> Año: <span class="pull-right">{{car.data.year_model}}</span></li>
                            <li class="list-group-item"><img src="assets/frontend/images/quilo.png" alt="" class="img-icon"> Kilometrage: <span class="pull-right">{{car.data.odometer}}</span></li>
                            <li class="list-group-item"><img src="assets/frontend/images/trans.png" alt="" class="img-icon"> Transmisión: <span class="pull-right">{{car.data.transmission}}</span></li>

                        </ul>
                    </div>
                </div>
                {% if car.data.status_sale == 1 %}
                <div class="col-xs-12 col-md-12" style="height: 80px;">
                    <img src="assets/frontend/images/semelhantes.png" class="image-responsive" style="position: absolute;z-index: 999;" />
                </div>
                <div>
                    {% for car in relacion_bottom %}
                    <li class="col-xs-12 col-md-4 relacion">
                        <!-- start imgb -->
                        <div class="imgb" style="height: 170px;">
                            <a href="{{car|used_url}}" title="{{car.title}}">
								{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" class="img-responsive" alt="car" />{% endif %}
							</a>
                        </div>
                        <!-- end imgb -->
                        <!-- start txtb -->
                        <div class="txtb" style="margin-top: 35px;">
                            <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 12px;">{{car.title}}</div>
                        </div>
                        <!-- end txtb -->
                    </li>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-xs-12 col-md-12 especification">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#especification" aria-controls="especification" role="tab" data-toggle="tab">Especificación</a></li>
                        <li role="presentation"><a href="#acessorios" aria-controls="acessorios" role="tab" data-toggle="tab">Accesorios</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="especification">
                            <ul class="col-xs-12 list-unstyled">
                                <li><span>Quilometragem </span>{{car.data.odometer}} {{car.data.odometer_type}}</li>
                                <li><span>Transmissão </span>{{car.data.transmission}}</li>
                                <p>
                                    {{car.data.description}}
                                </p>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="acessorios">
                            <ul class="col-xs-12 list-unstyled">
                                {% for option in car.data.options %}
                                <li><span>{{option.title|capitalize|raw}} </span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </article>

        <!-- begin sidebar  -->
        <section class="col-xs-12 col-md-3 form-banner">
            {% if car.data.status_sale != 1%}
            <h2>COTIZA AQUI TU SEMINUEVO</h2>
            <form onsubmit="return false;" class="form1">
                <input type="hidden" name="formName" value="SITE_SEMINUEVOS_COTIZACION">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                </div>
                <div class="form-group">
                    <select name="model" class="form-control" data-placeholder="Modelo" data-required="true" disabled="disabled">
                        <option value="{{ car.data.title }}">{{ car.data.title|capitalize}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="enviar_form(1);" value="COTIZAR AGORA" class="form-control">
                </div>
            </form>
        </section>


        <!--  begin container form contact sidebar -->



        <div class="gadgets-sidebar">


        </div>
        <!-- end container venda direta -->

        <!-- begin container conheça mais -->
        <div class="gadgets-sidebar">


        </div>

        {% else %}
        <div style="margin: -30px 0 0 -25px !important;">
            <div class="title_seme">Confira outros
                <br>veículos semelhantes.</div>
            {% for car in relacion_right %}
            <li class="col-xs-12 relacion">
                <!-- start imgb -->
                <div class="imgb" style="height: 170px;">
                    <a href="{{car|used_url}}" title="{{car.title}}">
						{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" class="img-responsive" alt="car" />{% endif %}
					</a>
                </div>
                <!-- end imgb -->
                <!-- start txtb -->
                <div class="txtb" style="margin-top: 35px;">
                    <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 14.5px;">{{car.title}}</div>
                </div>
                <!-- end txtb -->
            </li>
            {% endfor %}
        </div>
        {% endif %}
        <!-- end sidebar  -->

    </div>
</div>
{% endblock %}
