@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,600,300);
* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #EDEBEC;
}

/*----------------------------- HOME - START  -------------------------------*/

.main-menu {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 1%, #c5c5c5 100%);
    background: -webkit-linear-gradient(top, #f0f0f0 1%, #c5c5c5 100%);
    background: linear-gradient(to bottom, #f0f0f0 1%, #c5c5c5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c5c5c5', GradientType=0);
    height: 50px;
}

.navbar-brand {
    padding: 0;
    height: auto;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 80px 60px rgba(255, 255, 255, 0.85);
    z-index: 2;
    border: none;
}

.navbar-brand>img {
    z-index: 13;
    position: relative;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    background: rgba(255, 255, 255, 0.85);
}

.sub-nav {
    font-size: 12px;
    font-weight: 700;
    float: right
}

.main-nav, .foot-nav {
    font-size: 17px;
    font-weight: 700;
    float: left
}

.main-menu .navbar-default {
    background: none;
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
    padding: 18px 10px;
    line-height: 14px;
    position: relative;
    z-index: 3;
}

.navbar-default .sub-nav>li>a {
    padding: 19px 10px;
    line-height: 12px;
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff4000
}

.top-bar {
    background-color: #FFF;
    height: 44px;
    position: relative;
    z-index: 3;
    padding: 5px 0
}
.top-bar p{
    float: left;
    margin-bottom: 0;
    padding: 7px 0;
}
.top-bar a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0;
    float: left;
}

.top-bar button {
    margin-left: 15px;
    padding: 4px 9px;
}

.top-bar a:hover,
.top-bar a:active {
    text-decoration: none
}

.btn-primary {
    background: #1f8cc9;
    background: -moz-linear-gradient(top, #1f8cc9 0%, #016eab 100%);
    background: -webkit-linear-gradient(top, #1f8cc9 0%, #016eab 100%);
    background: linear-gradient(to bottom, #1f8cc9 0%, #016eab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1f8cc9', endColorstr='#016eab', GradientType=0);
    font-weight: 700;
}

.btn-primary:focus,
.btn-primary:hover {
    background: #016eab;
    background: -moz-linear-gradient(top, #016eab 0%, #1f8cc9 100%);
    background: -webkit-linear-gradient(top, #016eab 0%, #1f8cc9 100%);
    background: linear-gradient(to bottom, #016eab 0%, #1f8cc9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#016eab', endColorstr='#1f8cc9', GradientType=0);
}

a.phone-number {
    color: #007ac1;
    font-size: 21px;
    font-weight: 700;
    float: left;
    padding: 1px 5px;
}

.ventas a {
    float: right
}

#homeCarousel .carousel-indicators {
    text-align: left;
    position: inherit;
    margin: 0;
    position: relative;
    top: -75px;
    left: 0;
}

#homeCarousel .carousel-inner {
    top: -26px
}

#homeCarousel .carousel-indicators li {
    border: 2px solid transparent;
    background: #000;
    width: 6px;
    height: 6px;
    margin: 1px 5px
}

#homeCarousel .carousel-indicators .active {
    width: 8px;
    height: 8px;
    border-color: #067cbc;
    background: none;
    margin: 0 5px
}

#homeCarousel .img-responsive {
    margin: 0 auto !important
}

.panel-group {
    border-radius: 7px;
    background-color: #414e57;
}

.panel {
    border: none;
    background: none;
}

.panel-group .panel {
    border-radius: 0
}

.panel-default>.panel-heading {
    background: none;
    padding: 25px 25px 15px 25px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-default {
    border-top-color: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel-default>.panel-heading+.panel-collapsing>.panel-body {
    padding: 15px 25px 0 25px;
}

.panel-group .panel+.panel {
    margin-top: 0
}

.panel-default>.panel-heading .panel-title {
    color: #ffffff;
    font-size: 21px;
    font-weight: 900;
}

.panel-title a {
    text-decoration: none
}

.panel-title a i {
    font-weight: 300;
}

.pull-to-banner {
    margin-top: -590px;
    padding-right: 0;
    padding-left: 0;
}

.form-control {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase
}

input[type=submit].form-control {
    width: 100%;
    background-color: #ff4000;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    height: auto;
    padding: 15px 0;
}

.panel-group hr {
    width: 80%;
    border-top: 1px dashed #999;
    margin: 0 auto;
}

.slick-slider {
    margin-top: 30px;
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.slick-slide span {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #2b3339;
    font-weight: 400;
    text-transform: uppercase
}

.slick-prev:before,
.slick-next:before {
    color: #007dc6;
    font-size: 32px
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev,
.slick-next {
    width: 32px;
    top: 0;
    height: 84px;
    background: #EDEBEC !important;
    z-index: 1;
}

.slick-list {
    margin-left: 32px;
    margin-right: 32px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
}

.used-car-highlight {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.used-car-highlight h3 {
    color: #017ac0;
    font-weight: 900;
}

.used-description {
    padding-left: 0;
    padding-right: 0
}

.oldPrice,
.Price,
.savedPrice {
    padding-left: 0;
    padding-right: 0;
    float: left;
    text-align: center;
    line-height: 20px;
}

.oldPrice small,
.Price small,
.savedPrice small {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase
}
.oldPrice big{
    font-size: 19px;
    font-weight: 900;
}
.Price big{
    font-size: 26px;
    font-weight: 900;
}
.savedPrice big {
    font-size: 16px;
    font-weight: 900;
}
.oldPrice{
    color: #777777;
    width: 26%;
}
.Price{
    width: 36%;
    color: #0079bf;
}
.savedPrice{
    color: #ff4000;
    width: 20%;
}
.oldPrice, .Price{
    margin-right: 5%;
}
.used-buttons{
    background-color: #cbcac9;
    padding-left: 0;
    padding-right: 0;
    padding: 10px;
}
.used-buttons .btn{
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 7px;
}
.used-buttons .btn:last-child{
    margin-right: 0
}
.btn-more-info{
    background-color: #007cc2;
    width: 131px;
}
.btn-send-mobile{
    background-color: #2b3339;
    width: 155px;
}
.btn-request-special-price{
    background-color: #ff4000;
    width: 225px;
}
.highlight h3{
    font-size: 24px;
    font-weight: 900;
    color: #2b3339;
    height: 90px;
    display: table-cell;
    vertical-align: middle;
}
.highlight a{
    font-weight: 700;
    color: #ff3f00;
    font-size: 12px;
    text-transform: uppercase
}
.highlight p{
    font-size: 12px;
}
.high-img{
    height: 70px;
    position: relative
}
.high-img img{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.menu-footer{
    margin-top: 50px;
    background-color: #cbcaca;
}
.menu-footer li a {
    padding: 30px 15px;
}
footer{
    background-color: #ffffff;
}
.footer2 .btn-primary{
    padding: 3px 5px;
    font-size: 13px;
}
.footer2 .row>div{
    padding-top: 15px;
    padding-bottom: 15px
}
.footer2 .phone-number{
    padding: 0
}
.high-title {
    float: left;
    margin-right: 10px;
}

.footer-highlight {
    float: left;
    width: 165px;
    padding: 0 10px;
}
.footer-highlight p{
    font-size: 12px
}
.gmap {
    position: relative;
    overflow: hidden;
    height: 425px;
    width: 100%;
}

.gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text-footer > p{
    font-size: 11px;
}
a.developed-by{
    color: #007bc3;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 900
}
h1{
    font-weight: 900;
    font-size: 32px;
}

/*------------------------------ HOME - END  --------------------------------*/


/*------------------------ NEW CARS LIST - START  ---------------------------*/

.car-minis {
    text-align: center;
    color: #333333;
    float: left;
}

.new-list > div {
    padding-top: 45px;
}
.car-mini-img {
	margin-bottom: 30px;
    vertical-align: bottom;
    width: 100%;
    display: block;
}

.car-mini-name {
    margin-top: 30px;
    text-transform: uppercase;
}

.interest {
    margin: auto;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 7px;
    background: #017ac0;
    border-radius: 7px;
    text-transform: uppercase
}

.new-list .col-lg-3:nth-child(5n) {
    clear: both;
}

/*------------------------- NEW CARS LIST - END  ----------------------------*/

/*------------------------ NEW CAR DETAIL - START  --------------------------*/

.form-banner{
    background-color: #414e57;
    padding: 0 25px;
}
.form-banner h2{
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 25px
}
.car-details table {
    width: 100%;
    margin-top: 50px;
}

.car-details table tr td,
.car-details table tr th {
    text-align: center;
    padding: 10px 0;
}

.car-details table tr {
    border-bottom: 1px solid #bdbdbd;
}

.legenda span {
    display: block;
    float: left;
    width: 140px;
    padding: 0 15px;
}

.legenda span img {
    margin-right: 10px
}

.table-responsive {
    border: none !important;
}
.flexslider{
    background: transparent;
    border: none
}

.flex-viewport {
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #bdbdbd !important;
}

.flex-control-thumbs li {
    width: 23% !important;
    margin-right: 2.66% !important;
}

.flex-control-thumbs li:last-child {
    margin-right: 0 !important;
}
/*------------------------- NEW CAR DETAIL - END  ---------------------------*/

/*------------------------ USED CAR LIST - START  ---------------------------*/

.used-car {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.used-car h3 {
    color: #017ac0;
    font-weight: 900;
    margin-left: 15px;
}
.used-car .highlight-details div{
    float: left;
    width: 45%;
}
.used-car .highlight-details{
    margin-left: 15px;
    float: left;
    margin-right: 15px;
}

.filters-form{
    background: #414e57;
    border-radius: 7px;
    color: #FFF;
    padding: 15px
}
.filters-form h1{
    margin: 0;
    font-size: 28px;
}
h2.label{
    font-size: 18px;
    margin: 15px 0;
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    padding: 0;
}

/*------------------------- USED CAR LIST - END  ----------------------------*/

/*----------------------- USED CAR DETAIL - START  --------------------------*/

.container2-form-busca {
   margin-top: 0px !important;
}

.form-proposta button {
   background: transparent;
   color: #FFF;
   margin: 0 auto;
   padding: 10px;
   text-transform: uppercase;
   width: 100%;
}

.btn-padrao {
   display: block;
   border: 1px solid #FFF;
   border-radius: 3px;
   outline: none;
}

section.col-xs-3.sidebar-into {
   background-color: #FFCC33;
}

.form-contact-sidebar-into {
   color: #fff;
}

.container-list-cars {
border: 1px solid #E3E3E3;
float: left;
min-height: 240px;
}

.description-car-list.col-xs-12 h1 {
   color: #000;
   font-size: 24px;
}

.more-info-cars {
   display: block;
   padding: 8px 6px;
   width: 100%;
   background: #E3E3E3;
}

.more-info-cars .btn-more-info, .more-info-cars .btn-send-mobile, .more-info-cars .btn-more-price {
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   margin-right: 10px;
   padding: 5px 12px;
   text-transform: uppercase;
}
.description-car-list, .description-car-list a {
   float: none;
   display: block;
   margin: 10px 0;
}

a.btn-more-info, a.btn-more-info:hover {
   background: #FFCC33;
   color: #fff;
   z-index: 999999;
}

.m30-b {
   margin-bottom: 30px;
}

section.body-conteudo.container {
   padding-top: 27px;
}

/*------------------------ USED CAR DETAIL - END - --------------------------*/

/*------------------------ RESPONSIVENESS - START  --------------------------*/

@media(min-width: 1200px) {
    .panel-group{
        min-height: 545px;
        margin-bottom: 0
    }
}

/*------------------------ RESPONSIVENESS - END  --------------------------*/
