 @media only screen and (min-width: 320px) {

 }

 @media only screen and (min-width: 480px) {

 }

 @media only screen and (min-width: 768px) {

 }

 @media only screen and (min-width: 992px) {
     .top-bar button{
         font-size: 11px;
         margin-left: 15px;
         padding: 4px 9px;
         margin-top: 3px;
     }
     .navbar-default .navbar-nav>li>a{
         font-size: 15px;
         padding: 18px 8px
     }
     .navbar-brand{
         margin-top: -13px;
     }
 }

 @media only screen and (min-width: 1200px) {
     .top-bar button{
         font-size: 14px;
     }
     .ventas{
         padding-right: 20px;
     }
     .navbar-brand{
         margin-top: -26px;
     }
     .navbar-default .navbar-nav.sub-nav>li>a{
         font-size: 12px
     }
 }
