<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honda of Aventura</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href="css/stacktable.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter ventas">
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <a href="#" class="text-uppercase">VENTAS</a>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <a href="#" class="text-uppercase">SERVICIOS</a>
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <img src="images/phone-ico2.png" class="pd-5" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-menu">
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo" href="{{rooturl}}">
                                        <img class="img-responsive" src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="row" style="position: relative">
                                    <div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav main-nav">
                                            <li><a href="#">NUEVOS</a></li>
                                            <li><a href="#">SEMINUEVOS</a></li>
                                            <li><a href="#">SPECIALS</a></li>
                                            <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                                            <li><a href="#">CREDITO</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right sub-nav">
                                            <li><a href="#">NOSOTROS</a></li>
                                            <li><a href="#">CONTACTO</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="banner">
        <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->

            <div class="carousel-inner">
                <div class="item active"> <img src="images/banner1.jpg" class="img-responsive" alt="First slide">
                    <div class="container">
                    </div>
                </div>
                <div class="item"> <img src="images/banner2.jpg" data-src="" class="img-responsive" alt="Second slide">
                    <div class="container">
                    </div>
                </div>
                <div class="item"> <img src="images/banner1.jpg" data-src="" class="img-responsive" alt="Third slide">
                    <div class="container">
                    </div>
                </div>
                <div class="item"> <img src="images/banner2.jpg" data-src="" class="img-responsive" alt="Fourth slide">
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators ">
                    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#homeCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#homeCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#homeCarousel" data-slide-to="3" class=""></li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container pull-to-banner">
        <div class="col-lg-3 pull-right no-gutter">
            <div class="panel-group form-accordion" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne1">
                        <h4 class="panel-title">COTIZA AQUI<br>TU HONDA</h4>

                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                                </div>
                                <div class="form-group">
                                    <select name="model" class="form-control" data-placeholder="Modelo" data-required="true">
                                        <option value="">Modelo</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" onclick="enviar_form(4);" value="COTIZAR AGORA" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo1">
                        <h4 class="panel-title">FINANCIAMENTO</h4>

                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                                </div>
                                <div class="form-group">
                                    <select name="model" class="form-control" data-placeholder="Modelo" data-required="true">
                                        <option value="">Modelo</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" onclick="enviar_form(4);" value="COTIZAR AGORA" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>AUTOS NUEVOS</h2>
                <div class="slider slider-carros-home">
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/civic-mini.png" alt="">
                                <span>HONDA CIVIC</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/crv-mini.png" alt="">
                                <span>HONDA CR-V</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/fit-mini.png" alt="">
                                <span>HONDA FIT</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/pilot-mini.png" alt="">
                                <span>HONDA PILOT</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/crz-mini.png" alt="">
                                <span>HONDA CR-Z</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/civic-mini.png" alt="">
                                <span>HONDA CIVIC</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img class="img-responsive" src="images/crv-mini.png" alt="">
                                <span>HONDA CR-V</span>
                            </a>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <section class="list-used-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>SEMINUEVOS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="used-car-highlight">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="images/used-car.png" alt="">
                            </div>
                            <div class="col-lg-6 used-description">
                                <h3>2015 FORD F-150 XLT</h3>
                                <div class="highlight-details">
                                    <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                    <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                    <div>Drive Type: <strong>RWD</strong></div>
                                    <div>Transmission: <strong>6-Speed Automatic</strong></div>
                                </div>
                                <div class="highlight-price">
                                    <div class="oldPrice">
                                        <small>Precio Inicial</small>
                                        <big>$32,422</big>
                                    </div>
                                    <div class="Price">
                                        <small>Precio de Internet</small>
                                        <big>$28,488</big>
                                    </div>
                                    <div class="savedPrice">
                                        <small>Descuento</small>
                                        <big>$3,200</big>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">

                            <div class="used-buttons">
                                <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                                <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                                <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="used-car-highlight">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="images/used-car.png" alt="">
                            </div>
                            <div class="col-lg-6 used-description">
                                <h3>2015 FORD F-150 XLT</h3>
                                <div class="highlight-details">
                                    <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                    <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                    <div>Drive Type: <strong>RWD</strong></div>
                                    <div>Transmission: <strong>6-Speed Automatic</strong></div>
                                </div>
                                <div class="highlight-price">
                                    <div class="oldPrice">
                                        <small>Precio Inicial</small>
                                        <big>$32,422</big>
                                    </div>
                                    <div class="Price">
                                        <small>Precio de Internet</small>
                                        <big>$28,488</big>
                                    </div>
                                    <div class="savedPrice">
                                        <small>Descuento</small>
                                        <big>$3,200</big>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">

                            <div class="used-buttons">
                                <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                                <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                                <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="used-car-highlight">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="images/used-car.png" alt="">
                            </div>
                            <div class="col-lg-6 used-description">
                                <h3>2015 FORD F-150 XLT</h3>
                                <div class="highlight-details">
                                    <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                    <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                    <div>Drive Type: <strong>RWD</strong></div>
                                    <div>Transmission: <strong>6-Speed Automatic</strong></div>
                                </div>
                                <div class="highlight-price">
                                    <div class="oldPrice">
                                        <small>Precio Inicial</small>
                                        <big>$32,422</big>
                                    </div>
                                    <div class="Price">
                                        <small>Precio de Internet</small>
                                        <big>$28,488</big>
                                    </div>
                                    <div class="savedPrice">
                                        <small>Descuento</small>
                                        <big>$3,200</big>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">

                            <div class="used-buttons">
                                <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                                <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                                <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="used-car-highlight">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="images/used-car.png" alt="">
                            </div>
                            <div class="col-lg-6 used-description">
                                <h3>2015 FORD F-150 XLT</h3>
                                <div class="highlight-details">
                                    <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                    <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                    <div>Drive Type: <strong>RWD</strong></div>
                                    <div>Transmission: <strong>6-Speed Automatic</strong></div>
                                </div>
                                <div class="highlight-price">
                                    <div class="oldPrice">
                                        <small>Precio Inicial</small>
                                        <big>$32,422</big>
                                    </div>
                                    <div class="Price">
                                        <small>Precio de Internet</small>
                                        <big>$28,488</big>
                                    </div>
                                    <div class="savedPrice">
                                        <small>Descuento</small>
                                        <big>$3,200</big>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">

                            <div class="used-buttons">
                                <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                                <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                                <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="highlights-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high1.png" alt="">
                    </div>
                    <h3>AGENDE TEST DRIVE</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high2.png" alt="">
                    </div>
                    <h3>AGENDAMENTO DE SERVIÇOS</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high3.png" alt="">
                    </div>
                    <h3>CREDITO</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high4.png" alt="">
                    </div>
                    <h3>VALUE YOUR TRADE</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high5.png" alt="">
                    </div>
                    <h3>PROGRAMA GREEN LIGHT</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
                <div class="col-lg-2 highlight">
                    <div class="high-img">
                        <img src="images/high6.png" alt="">
                    </div>
                    <h3>SPECIALS</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                    <a href="#">MÁS INFORMATION</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid menu-footer">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav foot-nav">
                        <li><a href="#">NUEVOS</a></li>
                        <li><a href="#">SEMINUEVOS</a></li>
                        <li><a href="#">SPECIALS</a></li>
                        <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                        <li><a href="#">CREDITO</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right sub-nav">
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4">
                            <p class="text-uppercase no-mg-bt">VENTAS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                        <div class="col-lg-5">
                            <p class="text-uppercase no-mg-bt">SERVICIOS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  brd-left-2 no-gutter">
                    <div class="high-title">
                        <p class="mg-l-10">TIEMPOS</p>
                    </div>

                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">VIENTAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">SERVICIOS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">PIEZAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14353.176322383875!2d-80.157123!3d25.925567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1094ea1b6563e211!2sHonda+of+Aventura!5e0!3m2!1spt-BR!2sbr!4v1452739009449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container pd-b-t-30">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/logo-footer.png" class="img-responsive" alt="">
                </div>
                <div class="col-lg-9 text-footer">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                    <a href="#" class="developed-by">DESENVOLVIDO POR REWEB</a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stacktable.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/custom.js"></script>

</html>
