<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honda of Aventura</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href="css/stacktable.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter ventas">
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <a href="#" class="text-uppercase">VENTAS</a>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <a href="#" class="text-uppercase">SERVICIOS</a>
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <img src="images/phone-ico2.png" class="pd-5" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-menu">
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo" href="{{rooturl}}">
                                        <img class="img-responsive" src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="row" style="position: relative">
                                    <div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav main-nav">
                                            <li><a href="#">NUEVOS</a></li>
                                            <li><a href="#">SEMINUEVOS</a></li>
                                            <li><a href="#">SPECIALS</a></li>
                                            <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                                            <li><a href="#">CREDITO</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right sub-nav">
                                            <li><a href="#">NOSOTROS</a></li>
                                            <li><a href="#">CONTACTO</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 new-car">
                <h1>Honda Civic</h1>
                <p class="lead">A revolução na sua garagem.</p>
                <img src="images/civic-detail.png" class="img-responsive" />
                <div class="car-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolor possimus consequatur neque, eligendi, corporis excepturi, natus nihil culpa reiciendis quidem facilis sint accusantium soluta sequi nesciunt suscipit labore voluptas. Id cupiditate quasi adipisci delectus vitae quia distinctio aliquam rem fugiat quis ex, quisquam cum reprehenderit libero aliquid assumenda eligendi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 form-banner">
                <h2>COTIZA AQUÍ TU HONDA</h2>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" name="name" data-placeholder="Nombre" data-required="true">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Correo" name="email" data-placeholder="Correo" data-required="true">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Teléfono" name="phone" data-placeholder="Teléfono" data-required="true">
                    </div>
                    <div class="form-group">
                        <select name="model" class="form-control" data-placeholder="Modelo" data-required="true">
                            <option value="">Modelo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="3" placeholder="Mensaje" data-placeholder="Mensaje" data-required="true"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" onclick="enviar_form(4);" value="COTIZAR AGORA" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 car-details">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active"><a href="#ficha-tecnica" aria-controls="ficha-tecnica" role="tab" data-toggle="tab">Ficha Técnica</a>
                        </li>
                        <li role="presentation"><a href="#dimensoes" aria-controls="dimensoes" role="tab" data-toggle="tab">Dimensões</a>
                        </li>
                        <li role="presentation"><a href="#exterior" aria-controls="exterior" role="tab" data-toggle="tab">Exterior</a>
                        </li>
                        <li role="presentation"><a href="#interior" aria-controls="interior" role="tab" data-toggle="tab">Interior</a>
                        </li>
                        <li role="presentation"><a href="#seguranca" aria-controls="seguranca" role="tab" data-toggle="tab">Segurança</a>
                        </li>
                        <li role="presentation"><a href="#cores" aria-controls="cores" role="tab" data-toggle="tab">Cores</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ficha-tecnica">
                            <div class="table-responsive">
                                <table id="table1">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>LXS</th>
                                            <th>LXR</th>
                                            <th>EXR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Potência (cv / rpm) - Gasolina / Etanol</th>
                                            <td>139/ 6.200 - 140/ 6.500</td>
                                            <td>150/ 6.300 - 155/ 6.300</td>
                                            <td>150/ 6.300 - 155/ 6.300</td>
                                        </tr>
                                        <tr>
                                            <th>Torque (Kgf.m / rpm) - Gasolina / Etanol</th>
                                            <td>17,5 / 4.600 - 17,7 / 5.000</td>
                                            <td>19,3 / 4.700 - 19,5 / 4.800</td>
                                            <td>19,3 / 4.700 - 19,5 / 4.800</td>
                                        </tr>
                                        <tr>
                                            <th>Transmissão manual de 6 velocidades</th>
                                            <td><img src="images/green-dot.png" alt=""></td>
                                            <td><img src="images/red-dot.png"></td>
                                            <td><img src="images/red-dot.png"></td>
                                        </tr>
                                        <tr>
                                            <th>Transmissão automática de 5 velocidades com Shift Hold Control</th>
                                            <td><img src="images/green-dot.png" alt=""></td>
                                            <td>+ troca de marchas no volante</td>
                                            <td>+ troca de marchas no volante</td>
                                        </tr>
                                        <tr>
                                            <th>Pneus</th>
                                            <td>205 / 55R16 91V</td>
                                            <td>205 / 50R17 93W</td>
                                            <td>205 / 50R17 93W</td>
                                        </tr>
                                        <tr>
                                            <th>Rodas em liga leve (pol)</th>
                                            <td>16 x 6,5&#039; J</td>
                                            <td>17 x 7&#039; J</td>
                                            <td>17 x 7&#039; J</td>
                                        </tr>
                                        <tr>
                                            <th>Estepe temporário</th>
                                            <td>T125/70D15 95M</td>
                                            <td>T125/70D15 95M</td>
                                            <td>T135/80D15 99M</td>
                                        </tr>
                                        <tr>
                                            <th>Direção com assistência elétrica progressiva - EPS</th>
                                            <td><img src="images/green-dot.png" alt=""></td>
                                            <td><img src="images/green-dot.png" alt=""></td>
                                            <td><img src="images/green-dot.png" alt=""></td>
                                        </tr>
                                        <tr>
                                            <th>Suspensão dianteira</th>
                                            <td>McPherson</td>
                                            <td>McPherson</td>
                                            <td>McPherson</td>
                                        </tr>
                                        <tr>
                                            <th>Suspensão traseira</th>
                                            <td>Multi-link</td>
                                            <td>Multi-link</td>
                                            <td>Multi-link</td>
                                        </tr>
                                        <tr>
                                            <th>Altura (mm)</th>
                                            <td>1.450</td>
                                            <td>1.450</td>
                                            <td>1.450</td>
                                        </tr>
                                        <tr>
                                            <th>Largura (mm)</th>
                                            <td>1.755</td>
                                            <td>1.755</td>
                                            <td>1.755</td>
                                        </tr>
                                        <tr>
                                            <th>Peso Bruto Total (Kg)</th>
                                            <td>1.690</td>
                                            <td>1.720</td>
                                            <td>1.720</td>
                                        </tr>
                                        <tr>
                                            <th>Massa em ordem de marcha - Kg - MT/AT</th>
                                            <td>1240/1274</td>
                                            <td>1298</td>
                                            <td>1.325</td>
                                        </tr>
                                        <tr>
                                            <th>Capacidade do tanque de gasolina (l)</th>
                                            <td>57</td>
                                            <td>57</td>
                                            <td>57</td>
                                        </tr>
                                        <tr>
                                            <th>Volume do porta-malas (l)</th>
                                            <td>449</td>
                                            <td>449</td>
                                            <td>449</td>
                                        </tr>
                                        <tr>
                                            <th>Motor em alumínio</th>
                                            <td>2.0 16V SOHC i-VTEC</td>
                                            <td>2.0 16V SOHC i-VTEC</td>
                                            <td>2.0 16V SOHC i-VTEC</td>
                                        </tr>
                                        <tr>
                                            <th>Classificação de consumo em relação à categoria*</th>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>B</td>
                                        </tr>
                                        <tr>
                                            <th>Classificação de consumo em relação à categoria*</th>
                                            <td>7,2/ 10,9</td>
                                            <td>6,8/ 10,5</td>
                                            <td>6,4/ 9,7</td>
                                        </tr>
                                        <tr>
                                            <th>Consumo na Estrada - ciclo urbano (km/ l) - Etanol/ Gasolina</th>
                                            <td>9,2/13,5</td>
                                            <td>9,6/14,4</td>
                                            <td>9,4/13,8</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <div class="legenda">
                                <span>Legenda: </span><span><img src="images/green-dot.png" /> Disponível</span> <span><img src="images/red-dot.png" /> Indisponível</span>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="dimensoes">2</div>
                        <div role="tabpanel" class="tab-pane" id="exterior">3</div>
                        <div role="tabpanel" class="tab-pane" id="interior">4</div>
                        <div role="tabpanel" class="tab-pane" id="seguranca">5</div>
                        <div role="tabpanel" class="tab-pane" id="cores">6</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h2 class="galeria_de_fotos">Galeria de Fotos</h2>
                <div id="slider" class="flexslider">
                    <ul class="slides">
                        <li style="width:100%;">
                            <a href="images/20150427071918-civic.png" rel="prettyPhoto"><img src="images/20150427071918-civic.png" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031213-EXR_ twitter_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031213-EXR_ twitter_72dpi.jpg" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031205-EXR_farol_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031205-EXR_farol_72dpi.jpg" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031207-EXR_hdmi_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031207-EXR_hdmi_72dpi.jpg" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031207-EXR_multimidia_escam_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031207-EXR_multimidia_escam_72dpi.jpg" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031208-EXR_logo_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031208-EXR_logo_72dpi.jpg" alt="" /></a>
                        </li>
                        <li style="width:100%;">
                            <a href="images/20150902031209-EXR_farol_aceso_72dpi.jpg" rel="prettyPhoto"><img src="images/20150902031209-EXR_farol_aceso_72dpi.jpg" alt="" /></a>
                        </li>
                    </ul>
                </div>
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/20150427071918-civic.png" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031213-EXR_ twitter_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031205-EXR_farol_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031207-EXR_hdmi_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031207-EXR_multimidia_escam_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031208-EXR_logo_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                        <li>
                            <img src="images/20150902031209-EXR_farol_aceso_72dpi.jpg" width="200" height="150" style="height: 140px;width: inherit !important;" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid menu-footer">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav foot-nav">
                        <li><a href="#">NUEVOS</a></li>
                        <li><a href="#">SEMINUEVOS</a></li>
                        <li><a href="#">SPECIALS</a></li>
                        <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                        <li><a href="#">CREDITO</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right sub-nav">
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4">
                            <p class="text-uppercase no-mg-bt">VENTAS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                        <div class="col-lg-5">
                            <p class="text-uppercase no-mg-bt">SERVICIOS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  brd-left-2 no-gutter">
                    <div class="high-title">
                        <p class="mg-l-10">TIEMPOS</p>
                    </div>

                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">VIENTAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">SERVICIOS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">PIEZAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14353.176322383875!2d-80.157123!3d25.925567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1094ea1b6563e211!2sHonda+of+Aventura!5e0!3m2!1spt-BR!2sbr!4v1452739009449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container pd-b-t-30">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/logo-footer.png" class="img-responsive" alt="">
                </div>
                <div class="col-lg-9 text-footer">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                    <a href="#" class="developed-by">DESENVOLVIDO POR REWEB</a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stacktable.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/custom.js"></script>

</html>
