<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honda of Aventura</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href="css/stacktable.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter ventas">
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <a href="#" class="text-uppercase">VENTAS</a>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <a href="#" class="text-uppercase">SERVICIOS</a>
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <img src="images/phone-ico2.png" class="pd-5" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-menu">
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo" href="{{rooturl}}">
                                        <img class="img-responsive" src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="row" style="position: relative">
                                    <div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav main-nav">
                                            <li><a href="#">NUEVOS</a></li>
                                            <li><a href="#">SEMINUEVOS</a></li>
                                            <li><a href="#">SPECIALS</a></li>
                                            <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                                            <li><a href="#">CREDITO</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right sub-nav">
                                            <li><a href="#">NOSOTROS</a></li>
                                            <li><a href="#">CONTACTO</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">

        <div class="col-md-12 carros">
            <h1>{{car.data.title}}</h1>
        </div>

        <article class="col-md-9 detail-car-used">

            <div class="row">

                <div class="col-md-7 no-padding galeria">
                      <div id="slider" class="flexslider">

                        <ul class="slides">
                            {% for image in car.data.gallery %}
                            <li>
                                <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width="474" class="modal-interesse" style="cursor:pointer;">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end gallery used -->
                    <!-- begin carousel gallery used -->
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {% for image in car.data.gallery %}
                            <li>
                                <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width="110">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">



                    <div class="container-description-used">
                        <ul class="list-group">
                            <li class="list-group-item">Preço{# de varejo#}: <span class="pull-right">R$ {{car.data.price}}</span></li>
                            {#
                            <li class="list-group-item list-bg-red">Preço Especial: <span class="pull-right">R$ {{car.data.price}}</span></li>#} {#
                            <li class="list-group-item"><i class="icon-economy"></i>Economia: <span class="pull-right">R$ {{car.data.savedPrice}}</span></li>#}
                            <li class="list-group-item"><img src="images/year.png" alt="" class="img-icon">
                                <!-- <i class="icon-year"></i> -->Ano: <span class="pull-right">{{car.data.year_model}}</span></li>
                            <li class="list-group-item"><img src="images/quilo.png" alt="" class="img-icon">
                                <!-- <i class="icon-km"></i> -->Quilometragem: <span class="pull-right">{{car.data.odometer}}</span></li>
                            <li class="list-group-item"><img src="images/trans.png" alt="" class="img-icon">
                                <!-- <i class="icon-transmition"></i> -->Transmissão: <span class="pull-right">{{car.data.transmission}}</span></li>
                            <!-- <li class="list-group-item"><i class="icon-fuel"></i>Combustível:
                            <span class="pull-right">
                                <span class="color-red-roma">10</span> cidade
                                <span class="color-red-roma">20</span> estrada
                            </span>
                        </li> -->

                        </ul>
                    </div>
                </div>
                {% if car.data.status_sale == 1%}
                <div class="col-md-12" style="height: 80px;">
                    <img src="images/semelhantes.png" class="image-responsive" style="position: absolute;z-index: 999;" />
                </div>
                <div>
                    {% for car in relacion_bottom %}
                    <li class="col-md-4 relacion">
                        <!-- start imgb -->
                        <div class="imgb" style="height: 170px;">
                            <a href="{{car|used_url}}" title="{{car.title}}">
								{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" width="270" alt="car" />{% endif %}
							</a>
                        </div>
                        <!-- end imgb -->
                        <!-- start txtb -->
                        <div class="txtb" style="margin-top: 35px;">
                            <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 12px;">{{car.title}}</div>
                        </div>
                        <!-- end txtb -->
                    </li>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-12 especification">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#especification" aria-controls="especification" role="tab" data-toggle="tab">Especificações</a></li>
                            <li role="presentation"><a href="#acessorios" aria-controls="acessorios" role="tab" data-toggle="tab">Acessórios</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="especification">
                                <ul class="col-xs-12">
                                    <li><span>Quilometragem </span>{{car.data.odometer}} {{car.data.odometer_type}}</li>
                                    <li><span>Transmissão </span>{{car.data.transmission}}</li>
                                    <p>
                                    {{car.data.description}}
                                </p>
                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="acessorios">
                                <ul class="col-xs-12">
                                    {% for option in car.data.options %}
                                    <li><span>{{option.title|capitalize|raw}} </span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                </div>
            </div>

        </article>

        <!-- begin sidebar  -->
        <section class="col-md-3 sidebar">



            {% if car.data.status_sale != 1%}
            <!--  begin container form contact sidebar -->
            <section id="form_proposta" class="container2-form-busca tab-pane active" role="tabpanel">
                <div class="fillform clearfix">
                    <form onsubmit="return false;" class="form1">
                           <input type="hidden" name="formName" value="SITE_SEMINOVOS_COTACAO">
                        <div class="fillform-in">
                            <h3><span>SOLICITE AGORA</span> SUA COTAÇÃO</h3>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nome" data-placeholder="Nome" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="E-mail" data-placeholder="E-mail" data-required="true">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Telefone" data-placeholder="Telefone" data-required="true">
                            </div>
                            <div class="form-group">
                                <select name="model" class="form-control" data-placeholder="Modelo" data-required="true" disabled="disabled">
                                    <option value="{{car.data.title}}">{{car.data.title}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Mensagem:" data-placeholder="Mensagem" data-required="true"></textarea>
                            </div>

                            <!-- end select row -->
                        </div>
                        <!-- start bottom row -->
                        <div class="bottom-row clearfix">
                            <input name="submit" onclick="enviar_form(1);" value="ENVIAR" class="btn-submit">
                        </div>
                        <!-- end bottom row -->
                    </form>
                </div>

            </section>


            <!--  begin container form contact sidebar -->



            <div class="gadgets-sidebar">


            </div>
            <!-- end container venda direta -->

            <!-- begin container conheça mais -->
            <div class="gadgets-sidebar">


            </div>

            {% else %}
            <div style="margin: -30px 0 0 -25px !important;">
                <div class="title_seme">Confira outros
                    <br>veículos semelhantes.</div>
                {% for car in relacion_right %}
                <li class="col-xs-12 relacion">
                    <!-- start imgb -->
                    <div class="imgb" style="height: 170px;">
                        <a href="{{car|used_url}}" title="{{car.title}}">
						{% if car.file != '' %}<img src="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" width="270" alt="car" />{% endif %}
					</a>
                    </div>
                    <!-- end imgb -->
                    <!-- start txtb -->
                    <div class="txtb" style="margin-top: 35px;">
                        <div style="text-align: center;font-size: 16px;margin-bottom:18px;padding-top: 14.5px;">{{car.title}}</div>
                    </div>
                    <!-- end txtb -->
                </li>
                {% endfor %}
            </div>
            {% endif %}

        </section>
        <!-- end sidebar  -->

    </div>
    </div>
    <footer>
        <div class="container-fluid menu-footer">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav foot-nav">
                        <li><a href="#">NUEVOS</a></li>
                        <li><a href="#">SEMINUEVOS</a></li>
                        <li><a href="#">SPECIALS</a></li>
                        <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                        <li><a href="#">CREDITO</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right sub-nav">
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4">
                            <p class="text-uppercase no-mg-bt">VENTAS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                        <div class="col-lg-5">
                            <p class="text-uppercase no-mg-bt">SERVICIOS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  brd-left-2 no-gutter">
                    <div class="high-title">
                        <p class="mg-l-10">TIEMPOS</p>
                    </div>

                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">VIENTAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">SERVICIOS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">PIEZAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14353.176322383875!2d-80.157123!3d25.925567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1094ea1b6563e211!2sHonda+of+Aventura!5e0!3m2!1spt-BR!2sbr!4v1452739009449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container pd-b-t-30">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/logo-footer.png" class="img-responsive" alt="">
                </div>
                <div class="col-lg-9 text-footer">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                    <a href="#" class="developed-by">DESENVOLVIDO POR REWEB</a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stacktable.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/custom.js"></script>

</html>
