<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honda of Aventura</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href="css/stacktable.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter ventas">
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <a href="#" class="text-uppercase">VENTAS</a>
                        </div>
                        <div class="col-lg-4 col-md-4 no-gutter">
                            <a href="#" class="text-uppercase">SERVICIOS</a>
                            <a href="#" class="phone-number">371 3040 5050</a>
                            <img src="images/phone-ico2.png" class="pd-5" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-menu">
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo" href="{{rooturl}}">
                                        <img class="img-responsive" src="images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="row" style="position: relative">
                                    <div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav main-nav">
                                            <li><a href="#">NUEVOS</a></li>
                                            <li><a href="#">SEMINUEVOS</a></li>
                                            <li><a href="#">SPECIALS</a></li>
                                            <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                                            <li><a href="#">CREDITO</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right sub-nav">
                                            <li><a href="#">NOSOTROS</a></li>
                                            <li><a href="#">CONTACTO</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mg-tp-100">
        <div class="row">
            <div class="col-lg-3">
                <div class="filters-form">
                    <h1>BUSQUE SU AUTO</h1>
                    <form action="">
                       <h2 class="label">Año</h2>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="year" class="year" value="1990"> 1990 (1)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="year" class="year" value="1990"> 1990 (1)
                            </label>
                        </div>
                        <h2 class="label">Precio</h2>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="year" class="year" value="300000 - 1000000"> 3,000.00 - 10,000.00(1)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="year" class="year" value="1000000 - 2000000"> 10,000.00 - 20,000.00(1)
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="used-car">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="images/used-car.png" alt="">
                        </div>
                        <div class="col-lg-8 used-description">
                            <h3>2015 FORD F-150 XLT</h3>
                            <div class="highlight-details">
                                <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                <div>Drive Type: <strong>RWD</strong></div>
                                <div>Transmission: <strong>6-Speed Automatic</strong></div>
                            </div>
                            <div class="highlight-price">
                                <div class="oldPrice">
                                    <small>Precio Inicial</small>
                                    <br />
                                    <big>$32,422</big>
                                </div>
                                <div class="Price">
                                    <small>Precio de Internet</small>
                                    <br />
                                    <big>$28,488</big>
                                </div>
                                <div class="savedPrice">
                                    <small>Descuento</small>
                                    <br />
                                    <big>$3,200</big>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">

                        <div class="used-buttons text-right">
                            <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                            <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                            <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                        </div>
                    </div>
                </div>
                <div class="used-car">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="images/used-car.png" alt="">
                        </div>
                        <div class="col-lg-8 used-description">
                            <h3>2015 FORD F-150 XLT</h3>
                            <div class="highlight-details">
                                <div>Body Style: <strong>Pickup Crew Cab</strong></div>
                                <div>Engine: <strong>8 Cyl - 5 L</strong></div>
                                <div>Drive Type: <strong>RWD</strong></div>
                                <div>Transmission: <strong>6-Speed Automatic</strong></div>
                            </div>
                            <div class="highlight-price">
                                <div class="oldPrice">
                                    <small>Precio Inicial</small>
                                    <br />
                                    <big>$32,422</big>
                                </div>
                                <div class="Price">
                                    <small>Precio de Internet</small>
                                    <br />
                                    <big>$28,488</big>
                                </div>
                                <div class="savedPrice">
                                    <small>Descuento</small>
                                    <br />
                                    <big>$3,200</big>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">

                        <div class="used-buttons text-right">
                            <a href="#" class="btn btn-more-info">MÁS INFORMACIÓN</a>
                            <a href="#" class="btn btn-send-mobile">ENVIAR A SU TELÉFONO</a>
                            <a href="#" class="btn btn-request-special-price">SOLICITUD DE PRECIO DE INTERNET</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid menu-footer">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav foot-nav">
                        <li><a href="#">NUEVOS</a></li>
                        <li><a href="#">SEMINUEVOS</a></li>
                        <li><a href="#">SPECIALS</a></li>
                        <li><a href="#">SERVICIOS Y REFACCIONES</a></li>
                        <li><a href="#">CREDITO</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right sub-nav">
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="text-uppercase">Clic para Llamar</p>
                            <button type="button" class="btn btn-primary">LLAME AHORA <img src="images/phone-ico.png" alt="" class="mg-l-5"></button>
                        </div>
                        <div class="col-lg-4">
                            <p class="text-uppercase no-mg-bt">VENTAS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                        <div class="col-lg-5">
                            <p class="text-uppercase no-mg-bt">SERVICIOS</p>
                            <a href="#" class="phone-number">371 3040 5050</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  brd-left-2 no-gutter">
                    <div class="high-title">
                        <p class="mg-l-10">TIEMPOS</p>
                    </div>

                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">VIENTAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">SERVICIOS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                    <div class="footer-highlight">
                        <p class="text-strong text-uppercase">PIEZAS</p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14353.176322383875!2d-80.157123!3d25.925567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1094ea1b6563e211!2sHonda+of+Aventura!5e0!3m2!1spt-BR!2sbr!4v1452739009449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container pd-b-t-30">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images/logo-footer.png" class="img-responsive" alt="">
                </div>
                <div class="col-lg-9 text-footer">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                    <a href="#" class="developed-by">DESENVOLVIDO POR REWEB</a>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stacktable.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/custom.js"></script>

</html>
